.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 8px;
}

.empty-icon {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: rgb(235,237,239);
  margin-right: 16px;
}

.empty-rows {
  width: 100%;
}

.row {
  height: 16px;
  width: 100%;
  background-color: rgb(235,237,239);

  &:last-child {
    margin-top: 8px;
    width: 60%;
  }
}
