:host {
  position: absolute;
  color: #647AE4;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    border-bottom: 1.5px solid rgba(#647AE4, .3);
    z-index: -1;
  }
}

span {
  background: #FAFAFA;
  padding: 2px 4px;
}
