/** Primary Button**/
$primary-normal-bg: #0B6CE0;
$primary-hover-bg: #147FFF;
$primary-pressed-bg: #0B6CE0;
$primary-disabled-bg: rgba(#0B6CE0, 0.4);

$primary-normal-text: #FFFFFF;
$primary-hover-text: #FFFFFF;
$primary-pressed-text: #FFFFFF;
$primary-disabled-text: #FFFFFF;

/** Secondary Button**/
$secondary-normal-bg: #F3F3F4;
$secondary-hover-bg: #E9EAEC;
$secondary-pressed-bg: rgba(#F3F3F4, 0.64);
$secondary-disabled-bg: rgba(#F3F3F4, 0.4);

$secondary-normal-text: rgba(#0B1C2B, 0.64);
$secondary-hover-text: rgba(#0B1C2B, 0.64);
$secondary-pressed-text: rgba(#0B1C2B, 0.64);
$secondary-disabled-text: rgba(#0B1C2B, 0.32);
