//@import "~capsilon-common-styles/colors.scss";

// We just need those colors. No need to import css classes. Waiting for fix in library.

$primary: #3990D8;
$primary-light: lighten(saturate($primary, 32.91), 10.00);
$primary-dark: darken(desaturate($primary, 7.95), 17.06);
$primary-disabled: lighten(desaturate(adjust-hue($primary, 1), 26.46), 21.37);

$secondary: #8680D8;
$secondary-light: lighten(saturate($secondary, 13.65), 9.02);
$secondary-dark: darken(desaturate($secondary, 6.86), 8.24);
$secondary-disabled: lighten(desaturate($secondary, 5.19), 14.51);

$critical: #EB5164;
$critical-light: lighten(saturate($critical, 11.04), 5.29);
$critical-dark: darken(desaturate($critical, 12.14), 7.45);
$critical-disabled: lighten(desaturate(adjust-hue($critical, 1), 30.66), 22.75);

$warning: #F5A623;
$warning-light: lighten(saturate($warning, 8.70), 4.51);
$warning-dark: darken(desaturate(adjust-hue($warning, -1), 11.15), 4.31);
$warning-disabled: lighten(desaturate($warning, 11.64), 21.96);

$success: #7CB86C;
$success-light: lighten(saturate($success, 2.37), 5.88);
$success-dark: darken(desaturate($success, 4.94), 7.06);
$success-disabled: lighten(desaturate(adjust-hue($success, 1), 5.77), 21.18);

$attention: #FFEB3B;

$dark: #364C5E;
$black: #0B1C2B;
$white: #fff;
$snow: lighten(desaturate(adjust-hue($black, -28), 52.59), 86.47);
$smoke: lighten(desaturate(adjust-hue($black, 2), 51.57), 84.31);
$silver: lighten(desaturate(adjust-hue($black, 2), 53.70), 75.29);
$black20: fade_out($black, 0.8);
$black40: fade_out($black, 0.6);
$black60: fade_out($black, 0.4);
$black80: fade_out($black, 0.2);
$black95: fade_out($black, 0.95);
$grey: #54606A;
$grey15: fade_out($grey, 0.15);
