@import 'abstracts/mixins/scroll';

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 24px;
  overflow: hidden;
}

chk-rules-list {
  height: 100%;
}

.no-rules {
  margin: 24px;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;

}

.center {
  display: flex;
  align-items: center;
}

.search-field {
 margin: 0 24px;
}

.hidden {
  display: none;
}
