<div id="credit" style="padding: 50px" *ngIf="contextSelected$ | async">Credit analyzer</div>
<chk-list-status></chk-list-status>
<ng-container *ngIf="isStatusFine$ | async">
  <div class="center">
    <chk-rule-status-filter></chk-rule-status-filter>
  </div>
  <mat-form-field class="search-field" [class.hidden]="!isSearchControlEnabled">
    <input matInput id="search" placeholder="Type rule description or number" [formControl]="searchControl">
  </mat-form-field>
  <chk-rules-list class="scroll-vert" [attr.scroll-id]="'rules_container'" chkScrollHover></chk-rules-list>
</ng-container>
