@import "abstracts/variables";

:host {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .rules {
      padding-right: 17px;
    }
  }
}

:host(.section-hover) {
  .rules {
    padding-right: 0;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .rules {
      padding-right: 0;
    }
  }
}

.rules-list {
  .mat-expansion-panel {
    box-shadow: none;
  }

  .mat-expansion-panel-header {
    padding: 8px 24px;
    border-bottom: solid 1px $black95;
    flex-direction: row-reverse;

    &:hover {
      background-color: #F7F7F8;
    }

    .borrower-name {
      display: flex;
      align-items: center;
      opacity: 0.88;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.5px;
      line-height: 16px;
    }

    &.disabled {
      pointer-events: none;

      .mat-expansion-indicator::after, .borrower-name {
        color: $black60;
      }
    }
  }

  ::ng-deep {
    .mat-expansion-panel-body {
      padding: 0 15px;
    }

    .mat-content {
      padding-left: 16px;
    }
  }

  ::ng-deep {
    .mat-expansion-indicator {
      height: 11px;
      align-items: center;
      display: flex;
      margin-left: 1px;
    }
  }
}

.no-borrower {
  height: 16px;
  width: 156px;
  background-color: $black95;
}

.no-rules {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: rgba(#02152C, .32);
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
}
