<mat-accordion class="rules-list"
               displayMode="flat"
               [multi]="true">
  <ng-container *ngIf="(applicants$ | async )?.length > 0 else noApplicants">
    <mat-expansion-panel (afterExpand)="applicantPanelExpand()"
                         *ngFor="let applicant of applicants$ | async; let applicantIndex=index; trackBy: trackByApplicantId"
                         [expanded]="true"
                         id="borrower_{{applicantIndex}}">
      <mat-expansion-panel-header expandedHeight="32px" collapsedHeight="32px" [class.disabled]="noRules">
        <mat-panel-title class="borrower-name">
          {{applicant.fullName | uppercase}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="rules">
        <ng-container *ngFor="let rule of applicantRules$(applicant?.applicantId) | async; trackBy: trackByRuleId">
          <chk-rule [rule]="rule" [class.selected]="isRuleSelected(rule?.id)" (click)="selectRule(rule)"
                    [attr.scroll-id]="'rule_'+rule?.id?.toString()" [showRuleCodes]="showRuleCodes"
                    id="borrower_{{getFirstName(applicant)}}_rule_{{rule?.ruleId | lowercase }}">
          </chk-rule>
        </ng-container>
      </div>

    </mat-expansion-panel>
  </ng-container>


  <ng-template #noApplicants>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header expandedHeight="32px" collapsedHeight="32px">
        <mat-panel-title>
          <div class="no-borrower"></div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="rules">
        <ng-container *ngFor="let rule of [1,2,3,4,5,6,7,8,9,10]">
          <chk-rule></chk-rule>
        </ng-container>
      </div>

    </mat-expansion-panel>
  </ng-template>
</mat-accordion>

<div class="no-rules" *ngIf="noRules">
  No rules to show
</div>
