@import "scss/common";

:host {
  padding: 24px 16px 16px;
  display: block;
}

.liability-details {
  display: flex;
  width: 100%;
}

.late {
  padding-bottom: $padding-small;
  line-height: $line-height;

  &:last-child {
    padding-bottom: 0;
  }
}

.liability-footer {
  padding: 16px 0 0;
  border-top: $border;
  display: flex;
  justify-content: space-between;
  margin-top: $padding-default;

  .ico {
    display: flex;
    align-items: center;
  }
}
