<div class="liability-details">
  <app-liability-section title="Details" class="details">
    <app-detail-line *ngIf="liability.byApplicant">
      <ng-container name>Type</ng-container>
      <ng-container value>{{expenseType[liability.expenseType] | default}}</ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Status</ng-container>
      <ng-container value>{{status[liability.details.status] | default}}</ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Account #</ng-container>
      <ng-container value>{{liability.details.accountIdentifier | default}}</ng-container>
    </app-detail-line>

    <app-detail-line *ngIf="!liability.byApplicant">
      <ng-container name>ECOA</ng-container>
      <ng-container value>{{ecoa[liability.details.ecoa] | default}}</ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Date Open</ng-container>
      <ng-container value>{{liability.details.dateOpened | formatDateMMYY}}</ng-container>
    </app-detail-line>

    <app-detail-line *ngIf="!liability.byApplicant">
      <ng-container name>Date Reported</ng-container>
      <ng-container value>{{liability.details.dateReported | formatDateMMYY}}</ng-container>
    </app-detail-line>

    <app-detail-line *ngIf="!liability.byApplicant">
      <ng-container name>Highest Credit</ng-container>
      <ng-container value>{{liability.details.highestCredit | currency | default}}</ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Balance</ng-container>
      <ng-container value>{{liability.details.balance | currency | default}}</ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Monthly Payment</ng-container>
      <ng-container value>{{liability.details.monthlyPayment | currency | default}}</ng-container>
    </app-detail-line>
  </app-liability-section>

  <app-liability-section *ngIf="!liability.byApplicant" title="Late Payments" class="late-payments">
    <app-detail-late-payments name="30 days"
                              [latePayments]="liability.latePayments.lates30Days"></app-detail-late-payments>
    <app-detail-late-payments name="60 days"
                              [latePayments]="liability.latePayments.lates60Days"></app-detail-late-payments>
    <app-detail-late-payments name="90 days"
                              [latePayments]="liability.latePayments.lates90Days"></app-detail-late-payments>
    <app-detail-late-payments name="120 days"
                              [latePayments]="liability.latePayments.lates120Days"></app-detail-late-payments>
  </app-liability-section>

  <app-liability-section *ngIf="!liability.byApplicant" title="Comments" class="liability-comments">
    <app-comment-section [comments]="liability.comments"></app-comment-section>
  </app-liability-section>

</div>
<div class="liability-footer">
  <div class="ico">
    <!--<img src="assets/images/svg/comment.svg"/>-->
  </div>
  <div class="liability-button">
    <button id="edit-liability-{{liability.id}}" mat-button class="app-button bg-gray-text-blue" (click)="edit()">
      edit {{category.name}}</button>
  </div>
</div>
