<div class="tabs-content" *ngIf="applicant">
  <app-credit [applicant]="applicant"></app-credit>
  <app-liabilities [applicant]="applicant"></app-liabilities>
  <app-other [applicant]="applicant" [inquiries]="inquiries" [publicRecords]="publicRecords"></app-other>
</div>
