<div class="section">
  <div class="header">
    <div class="header__name">Other</div>
  </div>
  <mat-accordion [multi]="true">
    <mat-expansion-panel #inquiresPanel [disabled]="inquiries.length === 0" class="parent inquiries" #parent>
      <mat-expansion-panel-header [expandedHeight]="'56px'" [collapsedHeight]="'56px'" (click)="closeAllCategory()">
        <div class="header">
          <div class="name">
            <i class="material-icons" [class.up]="parent.expanded">chevron_right</i>
            <div class="text">Inquiries ({{inquiries | length}})</div>
          </div>
        </div>
      </mat-expansion-panel-header>
      <app-inquiry [inquiry]="inquiry" [index]="i" *ngFor="let inquiry of inquiries; let i = index"></app-inquiry>
    </mat-expansion-panel>

    <mat-expansion-panel #publicRecordsPanel [disabled]="publicRecords.length === 0" class="parent public-records"
                         #parent_pr>
      <mat-expansion-panel-header [expandedHeight]="'56px'" [collapsedHeight]="'56px'" (click)="closeAllCategory()">
        <div class="header">
          <div class="name">
            <i class="material-icons" [class.up]="parent_pr.expanded">chevron_right</i>
            <div class="text">Public Records ({{publicRecords | length}})</div>
          </div>
        </div>
      </mat-expansion-panel-header>
      <mat-accordion #publicRecordsChildPanel="matAccordion" [multi]="true">
        <mat-expansion-panel id="child_{{i}}" *ngFor="let publicRecord of publicRecords;
      let i = index" class="child" #child>
          <mat-expansion-panel-header [expandedHeight]="'56px'" [collapsedHeight]="'56px'">
            <div class="header public-record">
              <div class="name">
                <i class="material-icons" [class.up]="child.expanded">chevron_right</i>
                <div class="text">
                  {{publicRecord.name}}
                </div>
              </div>
              <div class="tags">
                <app-tag [tag]="tag" *ngFor="let tag of getTagsFromPublicRecord(publicRecord)"></app-tag>
              </div>
              <div id="edit-name-{{i}}" class="edit-name" (click)="editName(publicRecord, $event)">Edit name</div>
            </div>
          </mat-expansion-panel-header>
          <app-public-records [applicantId]="applicant.id" [publicRecord]="publicRecord"></app-public-records>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
</div>
