@import "../liabilities/liabilities.component.scss";

app-inquiry {
  margin: 14px;
}

.header {
  &.public-record {
    justify-content: flex-start;
  }

  .tags {
    display: flex;
    margin: 0 8px;
  }
}

.edit-name {
  display: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: rgb(11, 108, 224);
}

.mat-expansion-panel-header {
  &:hover {
    .edit-name {
      display: block;
    }
  }
}

.child {
  margin-top: 0;
}
