@import "scss/common";

.inquiry{
  padding: 14px 10px;
  border: $border;
  margin: 0 14px;
  .header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    .name{
      text-transform: uppercase;
      color: #02152C;
      opacity: $liabilities-details-header-opacity;
      font-size: $font-size;
    }

    .tags{
      display: flex;
    }
  }
  .content{
    display: flex;
    .label{
      color: #02152C;
      opacity: $liabilities-details-header-opacity;
      font-size: 12px;
      font-weight: bold;
    }
    .value{
      font-size: $font-size;
      color: #02152C;
      opacity: 0.88;
    }
    .made{
      width: 200px;
    }
    .date{
      margin-left: 100px;
    }

  }
}
