<div class="inquiry">
  <div class="header">
    <div class="name">inquiry #{{index+1}}</div>
    <div class="tags">
      <div class="tag" *ngFor="let tag of tags">
        <app-tag [tag]="tag"></app-tag>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="made">
      <div class="label">Made By</div>
      <div class="value">{{inquiry.inquiryMadeBy}}</div>
    </div>
    <div class="date">
      <div class="label">Date</div>
      <div class="value">{{inquiry.inquiryDate | formatDateMMDDYYYY}}</div>
    </div>
  </div>

</div>
