  <div class="late" *ngFor="let late2 of latePayments; let i = index">
    <app-date-picker [index]="i" [date]="late2" (newDate)="updateLate($event)"></app-date-picker>
    <div class="delete" (click)="removeLatePayment(i)">
      <i class="material-icons">close</i>
    </div>
  </div>
  <div class="add-late">
    <button (click)="addLatePaymentField()" mat-button class="button-late-payment">add date</button>
  </div>
