.late {
  padding: 0 0 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  .delete {
    cursor: pointer;
    display: flex;
    align-items: center;

    .material-icons {
      font-size: 18px;
      color: #707070;
      opacity: 0.64;
      margin-left: 19px;
    }
  }

  &:last-child {
    padding: 0 0 10px;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    app-date-picker {
      width: 200px;
    }
  }
}
.add-late{
  height: 100%;
  text-align: center;
  width: 100%;

  .button{
    &-late-payment{
      text-transform: uppercase;
      color: #0B6CE0;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0.3px;
    }
  }
}
