<div class="horizontal-progress-bar" *ngIf="liabilities">
  <div class="bar" [style.width.%]="calculateAllProgress()" *ngIf="liabilities.totalAmount > 0">
    <div *ngFor="let liability of liabilities.byApplicants" [style.width.%]="calculateStackProgress(liability.amount)"
         [class]="assignColor(liability.applicantId)"></div>
    <div class="tooltip">
      <div class="tooltip__body">
        <div class="legend" *ngFor="let applicant of liabilities.byApplicants">
          <div class="tooltip-left-side">
            <div class="applicant-color {{assignColor(applicant.applicantId)}}"></div>
            <div class="applicant-name">{{applicant.firstName | titlecase}} {{applicant.lastName | titlecase}}</div>
          </div>
          <div class="tooltip-right-side">
            <div class="price">{{applicant.amount | currency}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!(liabilities.totalAmount > 0)" class="dot"></div>
</div>
