.horizontal-progress-bar {
  animation: vertical-bar-fill 2s;
  width: 100%;

  .bar {
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    width: 100%;
    position: relative;

    &.small {
      .stack {
        border-right: 1.5px solid white;

        &:nth-last-child(2) {
          border-right: none;
        }
      }
    }
  }

  .dot {
    background-color: rgb(161, 179, 206);
    width: 12px;
    height: 12px;
    border-radius: 20px;
  }

  .stack {
    height: 12px;
    width: 100px;
    background-color: rgb(46, 216, 241);
    border-right: 4px solid white;
    min-width: 12px;

    &:nth-child(1) {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &.light-blue {
      background-color: rgb(47, 216, 241);
    }
    &.dark-blue {
      background-color: rgb(11, 108, 224);
    }
    &.green {
      background-color: rgb(66, 202, 114);
    }
    &.orange {
      background-color: rgb(243, 180, 87);
    }
    &.red {
      background-color: rgb(231, 38, 66);
    }
    &.purple {
      background-color: rgb(120, 22, 236);
    }

    &:nth-last-child(2) {
      border-right: none;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }

  }
}

@keyframes vertical-bar-fill {
  0% {
    width: 0;
  }
}

:host {
  display: block;
  margin: 0;
  flex-grow: 1;

  &:hover {
    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}

.tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border-radius: 2px;
  bottom: 100%;
  left: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 6px 0 rgba(4, 31, 61, 0.03), 0 8px 15px 0 rgba(4, 31, 61, 0.1);
  width: 270px;
  transform: translate(-50%, -19px);

  &__body {
    box-sizing: border-box;
    position: relative;
    max-height: 400px;
    min-height: 0;
    display: flex;
    padding: 16px;
    flex-direction: column;

    &:after {
      content: '▼';
      font-size: 18px;
      color: #fff;
      position: absolute;
      top: 100%;
      right: 50%;
      transform: translate(50%, -5px) scaleX(2);
      text-shadow: 0 7px 5px rgba(150, 150, 150, 0.2);
    }
  }

  .applicant-name {
    opacity: 0.88;
    color: rgb(2, 21, 44);
    font-size: 12px;
    line-height: 16px;
  }
  .applicant-color {
    width: 16px;
    height: 16px;
    border-radius: 5px;
    margin-right: 0.5em;

    &.light-blue {
      background-color: rgb(47, 216, 241);
    }
    &.dark-blue {
      background-color: rgb(11, 108, 224);
    }
    &.green {
      background-color: rgb(66, 202, 114);
    }
    &.yellow {
      background-color: rgb(243, 180, 87);
    }
    &.red {
      background-color: rgb(231, 38, 66);
    }
    &.purple {
      background-color: rgb(120, 22, 236);
    }
  }

  .price {
    opacity: 0.88;
    color: rgb(2, 21, 44);
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-align: right;
  }


  &-left-side {
    display: flex;
  }

  .legend {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* IE10+ CSS styles here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .tooltip {
    -ms-transform: translate(-50%, -18px);
    left: 50%;
  }
  .mat-icon {
    height: 14px;
    width: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
