@import "abstracts/variables";

:host {
  position: relative;
}

chk-document-card {
  margin: 0 0 16px 0;
  max-width: 850px;
  height: 100%;
  width: 100%;
}

@media (min-width: 1200px) {
  chk-document-card {
    margin: 8px 0 24px 0;
  }
}

app-doc-header {
  background-color: #F7F7F8;
  z-index: 1;
  max-width: 850px;
  width: 100%;
}

@supports (position:sticky) {
  .sticky {
    position: sticky;
    top: 0;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .stickyIE {
    app-doc-header {
      position: fixed;
      left: 50%;
      transform: translateX(-30.55%);
    }

    &.document {
      margin-top: 51px;
    }
  }
}

.not-document {
  color: #E72642;
  background: rgba(231, 38, 66, .2);
  height: 150px;
  max-width: 850px;
  width: 100%;
  display: flex;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 2px;
  margin: 8px 0 24px 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  justify-content: center;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;

  &.focused, &:hover {
    opacity: 1;
    box-shadow: 0 0 4px 0 rgba(4, 31, 61, 0.03), 0 5px 8px 0 rgba(4, 31, 61, 0.08);
  }
}

.not-active {
  background-color: rgba(2, 21, 44, 0.1);
  color: #556272;
}


