<div *ngIf="loanTypeDetails"
     class="employment-document"
     [class.stickyIE]="CNA_DOC_HEADER_ID === stickyIndex" #docs>
  <app-doc-header class="sticky"
                  customTitle="FHA Case Number Assignment"
                  [style.top.px]="CNA_DOC_HEADER_ID === stickyIndex ? top : -1"
                  [style.z-index]="CNA_DOC_HEADER_Z_INDEX">
  </app-doc-header>
  <chk-document-card *ngFor="let group of loanTypeDetails.groups | keyvalue"
                     class="doc-card qa-card"
                     scroll-id="sp-cna-doc"
                     [documentId]="group.value.first.documentId"
                     [documentType]="group.value.first.docType"
                     [snippetUrl]="group.value.first.snippetUrl"
                     #snippet>
    <chk-validation-info [dataValidation]="group.value.data" additional-content>
    </chk-validation-info>
  </chk-document-card>
</div>

<div *ngFor="let employerData of rulesData; trackBy: trackByIndex; let docIndex = index; "
     class="employment-document"
     [attr.scroll-id]="employerData.spScrollId"
     [class.stickyIE]="docIndex + 1 === stickyIndex" #docs>
  <app-doc-header class="sticky"
                  [employer]="employerData"
                  [style.top.px]="docIndex + 1 === stickyIndex ? top : -1"
                  [style.z-index]="docIndex + 1 + 10">
  </app-doc-header>

  <ng-container *ngFor="let document of employerData.documents; let id = index">
    <ng-container *ngFor="let snippetUrl of document.snippetUrls">
      <chk-document-card *ngIf="isNotMissing(document.status)"
                         class="doc-card qa-card"
                         [attr.scroll-id]="document.spScrollId"
                         [class.focused]="focusedSnippet == snippet"
                         [document]="document"
                         [documentId]="document.documentId"
                         [documentType]="document.type"
                         [snippetUrl]="snippetUrl"

                         [mouseEventsDoc]="document"
                         [mouseEvents]="['click', 'mousehover']"
                         chkSnippetElement
                         #snippet>
        <ng-container info>
          <div *ngIf="isNotEvaluated(document.status)"
               class="row not-evaluated">
            Not evaluated
          </div>
        </ng-container>
        <chk-validation-info *ngIf="getDataValidationForDocType(document.type, employerData) as dataValidation"
                             [dataValidation]="dataValidation" additional-content>
        </chk-validation-info>
      </chk-document-card>
    </ng-container>
  </ng-container>

  <chk-gap *ngIf="isGap(employerData.type) "
           class="gap not-document"
           [data]="employerData"
           [displayMonths]="ruleCode === 'INC-1055' || ruleCode === 'INC-1100'"
           [class.focused]="focusedSnippet == snippet"
           [class.not-active]="!employerData?.active"

           [mouseEventsDoc]="employerData"
           [mouseEvents]="['click']"
           chkSnippetElement
           #snippet>
  </chk-gap>

  <chk-missing-doc *ngIf="employerData.missingDocsAmount"
                   class="not-document"
                   [employerData]="employerData"
                   [class.focused]="focusedSnippet == snippet"
                   [attr.scroll-id]="'sp-missing-doc-' + employerData.id"

                   [mouseEventsDoc]="snippet.document"
                   [mouseEvents]="['click', 'mousehover']"
                   chkSnippetElement
                   #snippet>
  </chk-missing-doc>
</div>
