<div class="card credit-score">
  <div>
    <div class="card-header" id="qcs-header">
      <div class="left-side">
        <div class="card-title">Credit Score</div>
      </div>
      <div class="right-side">
        <app-bureau-logo class="dot-brown" imageSrc="assets/images/svg/equifax.svg"></app-bureau-logo>
        <app-bureau-logo class="dot-light-blue" imageSrc="assets/images/svg/transunion.svg"></app-bureau-logo>
        <app-bureau-logo class="dot-dark-blue" imageSrc="assets/images/svg/experian.svg"></app-bureau-logo>
      </div>
    </div>
    <app-score-badge id="qualifying-score" [score]="qualifyingScore"
                     [rank]="rank"></app-score-badge>
  </div>
  <div class="card-container">
    <div class="scores-container">
      <app-applicant-scores [id]="'applicant-scores-' + i" *ngFor="let applicant of applicantsProviders; let i = index"
                            class="scores-component" [applicant]="applicant"></app-applicant-scores>
    </div>
  </div>
</div>
