@import "scss/common";

:host {
  width: 100%;
}

.right-side {
  display: flex;
}

.scores-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 32px -12px 0 -12px;
}

.scores-component {
  width: 100%;
  margin-bottom: $padding-default;

  &:last-child {
    margin-bottom: 0;
  }
}
