<div class="employer"
     [matTooltip]="aliasesTooltipText"
     [matTooltipDisabled]="!aliasesTooltipText"
     matTooltipClass="employer-aliases-tooltip">
  <h3 class="employer-header">
    <span class="employer-name" [class.custom-title]="hasCustomTitle">
      {{docTitle | employerAliases:aliases}}
    </span>
    <span *ngIf="employmentType" class="tag" [class.primary-tag]="isPrimary">
      {{employmentType}}
    </span>
  </h3>
</div>
<div class="employer-bg"></div>
