@import "components/employment-type-tag";
@import "components/employer-header";

:host {
  display: flex;
  position: relative;

  &.non-employment-header {
    justify-content: center;

    .employer {
      padding: 0 16px;
    }
  }
}

.custom-title {
  margin-right: 8px;
}
