$reasonTextAreaHeight: 68px;
$lengthCounterRightMargin: 20px;
$dialogTopPadding: 24px;
$dialogLeftRightPadding: 24px;
$dialogBottomPadding: 16px;

// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(11, 28, 43, .05);
  padding: $dialogTopPadding $dialogLeftRightPadding 20px $dialogLeftRightPadding;
}

.title {
  color: rgba(#02152C, .88);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.close-icon {
  fill: #5D6978;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

// Content
.content {
  border-bottom: 1px solid rgba(11, 28, 43, .05);
  padding: 20px $dialogLeftRightPadding 16px $dialogLeftRightPadding;
}

.content-text {
  color: rgba(#001530, .88);
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 16px;
}

// Footer
.footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px $dialogLeftRightPadding $dialogBottomPadding $dialogLeftRightPadding;
}

.confirm-btn {
  background-color: #0B6CE0;
  color: #FFFFFF;
  box-shadow: none;

  &:hover:not(:disabled) {
    background-color: #147FFF;
  }

  &:disabled {
    color: #FFFFFF;
    background-color: rgba(#0B6CE0, 0.4);
  }
}

.cancel-btn {
  color: rgba(11, 28, 43, 0.64);
  background-color: #F3F3F4;
  box-shadow: none;

  &:hover {
    background-color: rgba(2, 21, 44, 0.04);
  }
}

.confirm-btn.mat-raised-button {
  margin-left: 8px;
}

// Override angular-material styles
::ng-deep .mat-dialog-container {
  padding: 0;
}

::ng-deep .cdk-overlay-backdrop-showing.backdrop-dialog {
  background-color: rgba(#041F3D, .8);
}

// Fixes for IE
main, section {
  display: block;
}
