@import "abstracts/variables";

.icon-failed {
  path {
    fill: #E72642;
  }
}

.icon-passed {
  circle {
    fill: #42CA72;
  }
}

.icon-waived {
  path {
    fill: #E72642;
  }

  circle {
    fill: #42CA72;
  }
}

.icon-reverse {
  path {
    fill: rgba(#02152C, .64);
  }
}

.icon-edit {
  path {
    opacity: .48;
  }

  &:hover {
    path {
      opacity: .7;
    }
  }

  &.folder-disabled {
    opacity: 0.4;
    cursor: not-allowed !important;
  }
}

.icon-left-arrow {
  svg {
    fill: rgba(#02152C, .64);
  }
}

.icon-right-arrow {
  svg {
    fill: rgba(#02152C, .64);
    transform: scaleX(-1);
  }
}
