<ng-container *ngIf="status$ | async as status">
  <ng-container *ngIf="status === 'FINE'" [ngTemplateOutlet]="fineStatuses"
                [ngTemplateOutletContext]="{totalFailedRules: totalFailedRules$ | async}">
  </ng-container>

  <h1 class="status-label" *ngIf="status === 'NO_INCOME_AVAILABLE'">
    No Income Available
  </h1>

  <h1 class="status-label" *ngIf="status === 'NO_BORROWER_SELECTED'">
    No Borrower Selected
  </h1>

  <h1 class="status-label" *ngIf="status === 'NOT_APPLICABLE'">
    Not Applicable
  </h1>
</ng-container>

<ng-template #fineStatuses let-totalFailedRules="totalFailedRules">
  <h1 class="status-label" *ngIf="totalFailedRules">
    {{ totalFailedRules }} out of {{totalRules$ | async}} Failed
  </h1>

  <h1 class="status-label" *ngIf="!totalFailedRules">
    All Rules Passed
  </h1>
</ng-template>
