@import "scss/common";

:host {
  display: flex;
  margin-top: $padding-small;
}

.name {
  color: $liabilities-details-header-color;
  opacity: $liabilities-details-header-opacity;
  font-weight: 500;
  width: 50%;
}

.value {
  width: 50%;
  color: $liabilities-details-header-color;
  opacity: .88;
}

.late {
  padding-bottom: $padding-small;
  line-height: $line-height;

  &:last-child {
    padding-bottom: 0;
  }
}
