@import "abstracts/variables";
@import "abstracts/button-colors";

.evidence-header {
  background-color: $white;
  box-shadow: inset 0 -1px 0 0 $black95;
  padding: 12px 16px;
}

.description-container {
  display: flex;
}

.tag-container {
  display: flex;
  align-content: baseline;
}

.description {
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  opacity: 0.88;
  color: #02152C;
  flex-grow: 1;
}

@media (min-width: 1200px) {
  .description {
    font-size: 20px;
  }
}

.left {
  display: flex;
  flex: 1;
  align-items: center;
}

.right {
  display: flex;
  padding-top: 8px;
}

.tag-sm {
  font-weight: bold;
  color: #02152C;
  opacity: 0.48;
  margin-left: 32px;
  font-size: 12px;
}

.waive-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 8px 0 8px 52px;
  background-color: rgba(#E72642, 0.08);
}

.waive-container {
  color: rgba(#02152C, 0.64);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding-right: 8px;
}

.waive-button {
  color: #0B6CE0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-align: center;
  border-radius: 2px;
  padding: 8px;
  margin: 0 16px 0 24px;
  cursor: pointer;

  &.folder-disabled {
    color: $secondary-disabled-text;
    background: $secondary-disabled-bg;
    padding: 8px 16px;
    cursor: not-allowed;
  }
}

.icon-edit {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin-right: 21px;
  margin-bottom: 8px;
}
