<div class="evidence-header" id="evidence-header">
  <chk-tag class="tag-sm">{{fullName$ | async}}</chk-tag>
  <div class="tag-container">
    <div class="left">
      <chk-status-icon [status]="status$ | async"></chk-status-icon>
      <div class="description-container">
        <span class="description">{{description$ | async | hyphen}}</span>
      </div>
    </div>
      <span *ngIf="waiveData?.waived" [class.folder-disabled]="isFolderBlocked" class="waive-button" (click)="openUnWaiveDialog()">UNWAIVE</span>
      <span *ngIf="canRuleBeWaived" [class.folder-disabled]="isFolderBlocked" class="waive-button" (click)="openWaiveDialog()">WAIVE</span>
    <div class="right">
      <app-arrows-nav></app-arrows-nav>
    </div>
  </div>
</div>
<div class="waive-wrapper" id="waive-wrapper" *ngIf="canWaive && waiveData">
  <div class="waive-container">
    <div class="waive-author">
      <ng-container *ngIf="waiveNotEdited else editedWaive">
        Waived by {{waiveData?.doneBy}} {{waiveData?.date | toDate:'M/dd/yyyy, h:mm:ss a':true: true}}
      </ng-container>
    </div>
    <div id="waive-reason">Reason: {{waiveData?.reason}}</div>
  </div>
  <div>
    <mat-icon *ngIf="waiveData?.waived" [class.folder-disabled]="isFolderBlocked" class="svg-icon icon-edit"
              svgIcon="edit"
              (click)="openUpdateWaiveDialog()"></mat-icon>
  </div>
</div>

<ng-template #editedWaive>
  Waived by {{waiveData?.doneBy}} {{waiveData?.date | toDate:'M/dd/yyyy, h:mm:ss a':true: true}} and edited
  by {{waiveData?.reasonEditedBy}} {{waiveData?.reasonDate | toDate:'M/dd/yyyy, h:mm:ss a':true: true}}
</ng-template>
