@import "scss/common";

.providers {
  display: flex;
  width: 100%;
  pointer-events: none;
  justify-content: space-between;

  mat-radio-group {
    width: 100% !important;
  }

  .provider-element {
    width: 33%;
    height: 160px;
    border: 1px solid #F1F1F1;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    &.active{
      border: 2px solid #0B6CE0;
      border-radius: 3px;
      background-color: rgba(11,108,224,0.04);
      .score{
        color: black;
      }
    }
    .radio-button {
      position: relative;
      width: 100%;
      line-height: 25px;
    }
  }

}

.provider {
  padding: 6px;
  position: relative;
  margin-top: 25px;
  .image {
    position: absolute;
    bottom: -50px;
    opacity: 0.64;
    width: 100%;
    text-align: center;

    .Equifax {
      width: 120px;
      height: 20px;
    }

    .TransUnion {
      width: 120px;
    }

    .Experian {
      width: 100px;
      height: 35px;
      right: 13px;
      bottom: 0;
    }
    &.active{
      opacity: 1;
    }

  }

  .score {
    color: #A5ACB4;
    font-size: 30px;
    font-weight: 500;

    .text {
      text-align: center;
      margin-top: 16px;
    }
    &.active {
      opacity: 1;
      color: #1F3045;
    }
  }
}

.credit-score-content {
  border-top: 2px solid #f1f1f1;
  padding: 24px 16px 16px;
}
.date{
  color: #02152C;
  opacity: 0.64;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  padding: 16px 16px 24px;
  margin: 0;
  border-bottom: 1px solid #F1F1F1;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding-top: 16px;

  .app-button{
    text-transform: uppercase;
    color: #0B6CE0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 0 8px;
  }
  .btn{
    display: flex;
  }
}
