<div class="credit-score-content">
  <div class="providers">
    <div class="provider-element" [class.active]="creditScore.name === providerName"
         *ngFor="let creditScore of creditScores">
      <mat-radio-group>
        <mat-radio-button [checked]="creditScore.active" [value]="creditScore.active"
                          class="radio-button">
          <div class="provider">
            <div class="image" [class.active]="creditScore.active">
              <img class="{{creditScore.name}}" [src]="creditScore.img"/>
            </div>
            <div class="score" [class.active]="creditScore.active">
              <div class="text">{{creditScore.score}}</div>
            </div>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="date">last report run on {{creditReportOrderedDate | formatDateMMDDYYYY}}
    10:31 AM
  </div>
  <div class="footer">
    <div class="ico"></div>
    <div class="btn">
      <button mat-button class="app-button" (click)="edit()">Edit credit score</button>
    </div>
  </div>
</div>
