<mat-form-field appearance="fill" class="date-picker">
  <input matInput placeholder="mm/yy" [matDatepicker]="dp" [formControl]="form" [max]="maxDate"
         (dateChange)="dateChange($event)" [class.error]="!isValid">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>
