<section class="dialog">
    <div class="header">
        <span class="title">{{title}}</span>
        <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" (click)="cancelForm()">
            <path d="M15.6,0.4c-0.5-0.5-1.1-0.5-1.6,0L8,6.4L2,0.4c-0.5-0.5-1.1-0.5-1.6,0s-0.5,1.1,0,1.6l6,6.1l-6,6.1c-0.5,0.5-0.5,1.1,0,1.6
            C0.7,15.8,0.8,16,1.2,16s0.6-0.2,0.8-0.3l6-6.1l6,6.1c0.2,0.2,0.6,0.3,0.8,0.3s0.6-0.2,0.8-0.3c0.5-0.5,0.5-1.1,0-1.6L9.6,8l6-6.1
            C16.1,1.5,16.1,0.8,15.6,0.4z"/>
        </svg>
    </div>
    <form [formGroup]="form">
        <main class="content">
            <div class="content-text">
                {{contentText}}
            </div>

            <label *ngIf="showReasonLabel" class="reason-label" for="reason-field">{{reasonLabelText}}</label>
            <textarea class="reason-field" id="reason-field" formControlName="reason" placeholder="Add a reason"
                      [maxLength]="maxReasonLength"></textarea>
            <div class="waive-length-counter">
                <span>{{reasonLength}}/{{maxReasonLength}}</span>
            </div>
        </main>

        <div class="footer">
            <button mat-raised-button class="cancel-btn" (click)="cancelForm()" #cancelBtn>{{cancelBtnText}}</button>
            <button mat-raised-button class="confirm-btn" [disabled]="form.invalid" (click)="confirmForm()"
                    #confirmBtn>{{confirmBtnText}}</button>
        </div>
    </form>
</section>
