@import '../common/dialog';

// Content
.reason-label {
  display: inline-block;
  color: #868F9A;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  padding-bottom: 5px;
}

.reason-field {
  width: 100%;
  height: $reasonTextAreaHeight;
  border: 2px solid transparent;
  border-radius: 2px;
  resize: none;
  color: #A7ADB5;
  background: #F5F6F7;
  font-size: 14px;
  line-height: 19px;
  padding: 8px;
  box-sizing: border-box;
  outline: none;

  &:focus {
    border: 2px solid #3C89E6;
    border-radius: 2px;
    color: #1F2F45;
    background: #FFF;
  }

  &::placeholder {
    color: rgba(#02152C, .32);
    font-size: 14px;
    line-height: 20px;
  }
}

.reason-field:focus ~ .waive-length-counter {
  background: #FFF;
}

.waive-length-counter {
  color: #848D95;;
  user-select: none;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  padding-right: 7px;
}
