<ng-container *ngIf="!data.error && !displayMonths; else monthsTemplate">
  <div>{{data.durationInDays}} DAY GAP</div>
  <div>{{data.startDate | toDate:'M/dd/yy'}} - {{data.endDate | toDate:'M/dd/yy'}}</div>
</ng-container>
<ng-container *ngIf="data.error">
  {{data.error}}
</ng-container>

<ng-template #monthsTemplate>
  <div>{{monthGap(data)}}</div>
  <div>{{data.startDate | toDate:'M/dd/yy'}} - {{data.endDate | toDate:'M/dd/yy'}}</div>
</ng-template>
