<div class="credit">
    <div class="header">
        <div class="header__name">Credit Score</div>
    </div>
    <div class="section">
        <mat-accordion [multi]="true">
            <mat-expansion-panel class="parent" #parent>
                <mat-expansion-panel-header [expandedHeight]="'56px'" [collapsedHeight]="'56px'">
                    <div class="header">
                        <div class="name">
                            <i class="material-icons" [class.up]="parent.expanded">chevron_right</i>
                            <div class="text">{{provider.name}}</div>
                            <div class="tags">
                                <app-tag *ngIf="daysToExpiration !== null" [days]="daysToExpiration"></app-tag>
                            </div>
                        </div>
                        <div class="balance">
                            <div>
                                {{provider.score}}
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <app-credit-score-display *ngIf="!editMode" [creditScores]="creditScores"
                                          [providerName]="applicant.selectedProvider" (editMode)="editMode = $event" [creditReportOrderedDate]="applicant.creditReportOrderedDate"></app-credit-score-display>
                <app-credit-score-edit *ngIf="editMode" [creditScores]="creditScores" [providerName]="applicant.selectedProvider" (editMode)="editMode = $event"
                                       [folderId]="folderId" [applicant]="applicant"></app-credit-score-edit>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
