@import 'scss/common';

.credit {
  padding: 20px 0;

  .header {
    display: flex;
    justify-content: space-between;

    &__name {
      font-size: 20px;
      color: #02152C;
      opacity: 0.64;
      margin-bottom: 8px;
    }

    &__date {
      display: flex;

      .date {
        margin: 0 8px;
        background-color: #E72642;
        padding: 3px;
        color: white;
        font-size: 10px;
        border-radius: 2px;
        display: flex;

        .material-icons {
          font-size: 14px;
          margin: 1px;
        }

        .text {
          margin: 2px 2px 0;
          text-transform: uppercase;
        }
      }

      .order {
        font-size: 12px;
        color: #ACB1B7;
        margin: 5px;
      }
    }
  }
}

.mat-expansion-panel-header {
  flex-direction: row-reverse;
  position: relative;
  padding: 0;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center !important;

    &.public-record {
      justify-content: flex-start;
    }

    .material-icons {
      left: 10px;
      transform: rotate(90deg);
      transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .name {
      text-transform: uppercase;
      font-size: 12px;
      color: #0B1C2B;
      font-weight: bold;
      display: flex;
      position: relative;
      letter-spacing: 0.5px;

      .text {
        opacity: 0.64;
        margin: 2px 0;
      }

      .add-button {
        display: none;
        position: absolute;
        right: -45px;
        color: #0B6CE0;
        opacity: 1;
        letter-spacing: 1px;
      }
    }

    .balance {
      margin: 0 16px 0 0;
      display: flex;
      font-size: 14px;
      color: #0B1C2B;
      font-weight: 500;

      .checkbox {
        padding-left: 15px;
      }

      .housing-expenses {
        margin: 0 32px;
      }
    }
  }

  &:hover {
    .header {
      .name {
        .add-button {
          display: inline;
        }
      }
    }
  }
}

.tags {
  display: flex;
  margin-left: 10px;
}

.date {
  color: #02152C;
  opacity: 0.64;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  padding: 0 16px 24px;
  margin: 0 16px;
  border-bottom: 1px solid #F1F1F1;
}
