@import "abstracts/variables";

:host {
  display: flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  border: 1px solid #DBDEE0;

  &.data-not-available {
    background-color: #EDEEF0;
  }
}

img {
  width: 100%;
  height: 100%;
}

.data-not-available {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 143px;
  width: 100%;
  color: rgba(2, 21, 44, 0.24);
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}
