<img *ngIf="!snippetNotFound && snippetUrl; else notFound" [src]="snippetUrlBuilder()" (load)="imgLoaded()" (error)="imgLoadFailed()"
     alt="Document snippet">

<ng-template #notFound>
  <div class="data-not-available">
    Data Not Available
  </div>
</ng-template>

