<div class="card total-lates" id="total-lates-widget">
  <div class="card-header" id="total-lates-header">
    <div class="left-side">
      <div class="card-title" id="total-lates-title">Total lates</div>
      <div class="score-badge" id="total-lates-amount">
        <span class="score">{{totalLatesAmount}}</span>
      </div>
    </div>
    <div class="right-side">
      <span [class]="months12Btn"><button (click)="loadLates(12)" mat-button class="app-button btn-bg-gray-text-black small" id="btn-12-months">12 months</button></span>
      <span [class]="months24Btn"><button (click)="loadLates(24)" mat-button class="app-button btn-bg-gray-text-black small" id="btn-24-months">24 months</button></span>
    </div>
  </div>
  <div class="card-container" id="lates-table">
    <div class="row" id="lates-periods">
      <div class="column liability-type"></div>
      <div class="column total-lates-title">30 days</div>
      <div class="column total-lates-title">60 days</div>
      <div class="column total-lates-title">90 days</div>
      <div class="column total-lates-title">120+ days</div>
    </div>
    <div id="{{totalLates.type}}-lates" class="row" *ngFor="let totalLates of allLates">
      <div class="column liability-type">{{totalLates.type}}</div>
      <div class="column">
        <app-applicants-lates id="{{totalLates.type}}-lates-30" [lates]="totalLates.lates.lates30Days" [type]="totalLates.type"></app-applicants-lates>
      </div>
      <div class="column">
        <app-applicants-lates id="{{totalLates.type}}-lates-60" [lates]="totalLates.lates.lates60Days" [type]="totalLates.type"></app-applicants-lates>
      </div>
      <div class="column">
        <app-applicants-lates id="{{totalLates.type}}-lates-90" [lates]="totalLates.lates.lates90Days" [type]="totalLates.type"></app-applicants-lates>
      </div>
      <div class="column">
        <app-applicants-lates id="{{totalLates.type}}-lates-120" [lates]="totalLates.lates.lates120Days" [type]="totalLates.type"></app-applicants-lates>
      </div>
    </div>
  </div>
<app-progress-spinner id="tl-progress-spinner" *ngIf="isLoading"></app-progress-spinner>
</div>
