@import "scss/common";

.total-lates {
  position: relative;

  .score {
    color: rgb(231,38,66) !important;
  }

  .right-side {
    span {
      &:first-child {
        .app-button {
          border-radius: 2px 0 0 2px;
        }
      }

      &:last-child {
        .app-button {
          border-radius: 0 2px 2px 0;
        }
      }
    }
  }

  &-title {
    opacity: 0.48;
    color: rgb(2,21,44);
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
  }

  .liability-type {
    opacity: 0.88;
    color: rgb(2,21,44);
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    margin-right: 0;
    justify-content: flex-start;
  }

  .column.liability-type {
    width: 88px;
  }
}

.app-button {

  &.small {
    margin-left: 2px !important;
    letter-spacing: 0.3px;
    width: 88px;
    height: 24px;
    padding: 0;
    margin-right: 0;
  }
}

app-total-lates {
  width: 100%;
}

.score-badge {
  display: flex;
  align-items: center;

  .score {
    opacity: 0.88;
    color: rgb(11,28,43);
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
  }
}

.liability-type {
  width: 7em;
  margin-right: 2em;
  opacity: 0.88;
  color: rgb(2,21,44);
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &[title]:before {
    content: attr(title);
  }
}
