@import "abstracts/variables";

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  background: $white;
  width: 349px;
  box-shadow: 1px 0 0 0 $black95;

  .sidebar {
    padding: 0;
  }
}

router-outlet {
  display: none;
}

.side-right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-shrink: 0;
  width: 100%;
}
