<chk-loader *ngIf="isStatusNotInitialized$ | async else container"></chk-loader>

<ng-template #container>
  <mat-sidenav-container>
    <mat-sidenav mode="side" [disableClose]="true" opened>
      <chk-sidebar class="sidebar"></chk-sidebar>
    </mat-sidenav>
    <mat-sidenav-content *ngIf="isStatusFine$ | async" class="side-right">
      <chk-evidence-header *ngIf="isRuleSelected$ | async" class="header"></chk-evidence-header>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
