<div class="employment"
     [style.height.px]="settings.rowHeight*rows+5">
  <div class="employment-base">
    <div *ngFor="let month of settings.months" class="employment-base-cell"
         [ngClass]="month | lowercase"
         [style.min-width.px]="settings.monthWidth"></div>
  </div>
  <div class="employment-layer">
    <div class="employment-area"
         (click)="onItemClick(employment)"
         [ngClass]="employment.type | lowercase"
         [class.invalid]="employment.notValidForAtLeastOneRule"
         [style.min-width.px]="width" [style.left.px]="left" [attr.scroll-id]="employment.tlScrollId"></div>
  </div>
  <div *ngIf="employment.documents" class="docs-layer">
    <chk-tl-doc *ngFor="let doc of employment.documents; let id = index;"
                [attr.scroll-id]="doc.tlScrollId"
                [options]="{document: doc, index: doc.lineIndex, isReversed:isReversed, drawOptions: settings}"
                class="document {{id}}"
                [class.selected]="(selectedDoc?.id==doc.id && selectedDoc.type !== 'GAP') || isMissingDocFocused(doc)"
                [ngClass]="doc.status | lowercase"
                [class.or]="employment.missingDocsAmount > 1 && id === employment.orId"></chk-tl-doc>
    <div class="group" *ngIf="groupedSettings"
         [style.width.px]="groupedSettings?.width"
         [style.left.px]="groupedSettings?.left"
         [style.top.px]="groupedSettings?.top"></div>
  </div>
  <div *ngIf="gaps && gaps.length>0" class="gaps-layer">
    <chk-tl-gap *ngFor="let gap of gaps"
                [attr.scroll-id]="gap.tlScrollId"
                class="gap"
                [options]="{gap: gap, isReversed: isReversed, settings:settings}"
                [class.not-active]="!gap?.active"
                [class.selected]="selectedDoc?.type === 'GAP' && selectedDoc?.id==gap.id"
    ></chk-tl-gap>
  </div>
  <div class="marks-layer" [class.reversed]="isReversed">
    <chk-tl-mark class="current-date"
                 [options]="{date: currentDate, isReversed: isReversed, settings: settings}"
    ></chk-tl-mark>
    <chk-tl-mark class="loan-date"
                 [options]="{date: loanDate, isReversed: isReversed, settings: settings}"
    ></chk-tl-mark>
    <chk-tl-mark *ngFor="let timelineMarker of timelineMarkers" class="rule-marker"
                 [options]="{date: timelineMarker.markerPosition, isReversed: isReversed, settings: settings}"
    ></chk-tl-mark>
  </div>
</div>
