@import "abstracts/variables";

.employment {
  position: relative;
}

.employment-base, .employment-layer, .gaps-layer, .marks-layer {
  display: flex;
  width: auto;
  height: 100%;
  position: absolute;
}

.employment-layer {
  height: calc(100% - 1px);
}

.docs-layer {
  position: absolute;
  left: 0;
  height: 100%;
}

.employment-area {
  position: absolute;
  opacity: 0.2;
  height: 100%;
  cursor: pointer;

  &.employment {
    background-color: #0B6CE0;
  }

  &.gap {
    background-color: red;
  }

  &.invalid {
    background: #E72642;
  }
}

.employment-base-cell {
  box-sizing: border-box;
  border-right: 2px dotted rgba(2, 21, 44, 0.04);

  &.jan {
    border-right: 2px dotted rgba(2, 21, 44, 0.14);
  }

  &:first-child {
    margin-left: 8px;
  }

  &:last-child {
    margin-right: 24px;
  }
}

.group {
  position: absolute;
  border: 1px solid #E72642;
  background-color: rgba(231, 38, 66, 0.2);
  height: 18px;
  margin-top: 4px;
  z-index: 10;
}

.document {
  position: absolute;
  display: flex;
  justify-content: left;
  background-color: #0B6CE0;
  opacity: 0.8;
  color: $white;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 4px;
  z-index: 15;

  &.missing {
    opacity: 1;
    border: 1px solid #E72642;
    background-color: #FFD9DF;
    color: #E72642;
    box-sizing: border-box;
    height: 20px;
    padding-top: 2px;
    align-items: center;
  }

  &.or {
    &::before {
      content: "OR";
      font-weight: bold;
      font-size: 8px;
      line-height: 16px;
      color: $white;
      position: absolute;
      top: -8px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      z-index: 100;
      border: 1px solid #E72642;
      border-radius: 4px;
      background-color: #E72642;
      height: 10px;
      width: 100%;
      max-width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }
  }

  &.selected {
    &.or {
      &::before {
        top: -6px;
      }
    }

    opacity: 1;
    box-shadow: 0 0 2px 0 rgba(4, 31, 61, 0.03), 0 3px 6px 0 rgba(4, 31, 61, 0.12);
    line-height: 24px;
    margin-top: 2px;
    height: 24px;
  }
}

.gap {
  position: absolute;
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: $critical;
  opacity: 0.2;
  color: $white;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  box-sizing: border-box;
  cursor: pointer;

  &.selected {
    opacity: 0.3;
  }
}

.not-active {
  background-color: rgba(2, 21, 44, 0.4);
}

.current-date, .loan-date, .rule-marker {
  position: absolute;
  height: 100%;
}

.rule-marker {
  height: calc(100% + 10px);
}

.reversed {
  .current-date, .loan-date, .rule-marker {
    margin-left: 1px;
  }
}

.current-date {
  box-sizing: border-box;
  width: 1px;
  background-color: #0B6CE0;
}

.loan-date {
  box-sizing: border-box;
  width: 1px;
  background-color: rgba(2, 21, 44, 0.41);
}

.rule-marker {
  box-sizing: border-box;
  width: 1px;
  border-right: 2px dashed #647AE4;
}

.reversed {
  .employment-base-cell:first-child {
    margin-left: 0;
  }
}
