.liability-item {
  &__details {
    display: flex;
    justify-content: space-between;
    line-height: 20px;

    &:nth-child(n+2) {
      margin-top: 16px;
    }
  }
  &__price {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  &__price.negative-value {
    color: #EB5164;
  }

  .mat-expansion-panel-body {
    padding: 24px !important;
  }

  &.collapsible-list.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }

}
