<mat-expansion-panel class="collapsible-list liability-item">
  <mat-expansion-panel-header class="collapsible-list__header left-side-arrow" [expandedHeight]="'56px'" [collapsedHeight]="'56px'">
    <mat-panel-title class="collapsible-list__title" id="liabilityTitle{{liabilityIndex}}">
      {{liability.type}}
    </mat-panel-title>
    <mat-panel-description class="collapsible-list__total negative-value" id="liabilityTotal{{liabilityIndex}}">
      ({{liability.total | currency}})
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="liability-item__content">
    <div class="liability-item__details" *ngFor="let detail of liability.details; let i = index" id="liabilityItem{{i}}">
      <span class="liability-item__name" id="liabilityName{{i}}">{{detail.name}}</span>
      <span class="liability-item__price negative-value" id="liabilityPrice{{i}}">({{detail.price | currency}})</span>
    </div>
  </div>
</mat-expansion-panel>
