.mat-dialog-content {
  display: flex;
  flex-direction: column;
}

.error-message {
  text-align: center;
  opacity: 0.64;
  color: rgb(2, 21, 44);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}



