<mat-radio-group aria-label="Select an option" [formControl]="statusControl">
  <mat-radio-button [value]="StatusFilter.Failed">Failed ({{failedRules$ | async}})</mat-radio-button>
  <mat-radio-button [value]="StatusFilter.Waived">Waived ({{waivedRules$ | async}})</mat-radio-button>
  <mat-radio-button [value]="StatusFilter.All">All ({{allRules$ | async}})</mat-radio-button>
</mat-radio-group>
