:host {
  display: inline-block;
  margin-right: 8px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tag {
  text-align: center;
  display: inline-block;
  letter-spacing: 0.5px;
  line-height: 16px;
  padding: 4px 8px;
  border-radius: 2px;
}

:host(.passed) .tag {
  background-color: rgba(#42CA72, 0.1);
}

:host(.failed) .tag {
  background-color: #FCE9EC;
}

:host(.not-evaluated) .tag {
  background-color: rgba(2,21,44,0.1);
}

:host(.tag-sm) .tag {
  padding: 0 4px;
  font-weight: 500;
  line-height: 12px;
}
