<app-detail-line>
  <ng-container name>{{element?.name}}</ng-container>
  <ng-container value>
    <span class="text" *ngIf="isNotProposedRent; else proposedRent">
            {{element?.value | currency | default}}
      </span>
    <ng-template #proposedRent>
      <span class="text">
            --
      </span>
    </ng-template>

  </ng-container>
</app-detail-line>

