/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "app/app.component";
@import "app/scss/common";
@import "app/scss/button";
@import "scss/dialog";

app-liability-type:last-child {
  .liability {
    margin: 0;
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: #FAFAFA;
}

mat-sidenav-container {
  height: 100vh;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-card {
  background-color: #fafafa;
}

.mat-tab-label {
  padding: 0 !important;
  min-width: 0px !important;
  width: 100px;
  margin: 0 14px;
  font-weight: 400;
  letter-spacing: 0.5px;

  &-container {
    background-color: #FFFFFF;
    text-transform: uppercase;
  }

  &-active {
    font-weight: bold;
    color: #3C4955;
    opacity: 1 !important;
  }
}

.mat-tab-nav-bar {
  background-color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;

  .mat-tab-links {

    .mat-tab-link {
      min-width: auto;
    }
  }
}


.mat-sidenav {
  width: $sidenav-width;
  box-shadow: inset -1px 0 0 0 rgba(11, 28, 43, 0.05);
  overflow: hidden !important;
  &.hidden{
    display: none;
  }
}

.applicants, .checkbox {
  .mat-checkbox-layout .mat-checkbox-label {
    line-height: 25px !important;
  }

  .mat-checkbox-inner-container {
    height: 15px;
    width: 15px;
  }

  .mat-checkbox-ripple {
    display: none;
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #0B6CE0;
  }

  .disabled {
    .mat-checkbox-background {
      background-color: #A1B3CE !important;
    }

    pointer-events: none;
  }
}

.providers, .providers-edit {
  .mat-radio-outer-circle {
    width: 17px !important;
    height: 17px !important;
    right: 0;
    top: 12%;
    left: auto;
  }

  .mat-radio-label-content {
    padding: 0;
  }

  .mat-radio-label {
    width: 100%;
    height: 160px;
    top: -15px;
    left: 0;
    position: absolute;

    &-content {
      width: 100%;
      height: 100%;
    }
  }

  .mat-radio-container {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}


.mat-expansion-panel  {
  min-height: 56px;
}

.providers-edit {
  .provider-element {
    .radio-button {
      .mat-radio-outer-circle {
        border-width: 2.5px;
        border-color: #98AAC5 !important;
      }
    }

    &.active {
      .radio-button {
        .mat-radio-outer-circle {
          border-width: 4.5px;
          border-color: #0b6ce0 !important;
        }
      }
    }

    &.disabled {
      .radio-button {
        .mat-radio-outer-circle {
          border-width: 9px;
          border-color: #98AAC5 !important;
        }
      }
    }
  }
}


.radio-button {
  .mat-radio-outer-circle {
    border-width: 9px;
    border-color: #98AAC5 !important;
  }

  .mat-radio-inner-circle {
    display: none;
  }

  .mat-ripple-element {
    display: none !important;
  }

  &.mat-radio-checked {
    .mat-radio-outer-circle {
      border-color: #98AAC5 !important;
      border-width: 5px !important;

    }

    .mat-radio-inner-circle {
      background-color: white;
      height: 0;
      width: 0;
      top: -1px;
      left: -1px;
    }

    .mat-ripple-element {
      display: none !important;
    }
  }
}

.parent {
  .mat-expansion-panel-body {
    padding: 0 !important;
  }
  overflow: hidden;
}

.mat-checkbox-diasabled {

  .mat-checkbox-background {
    background-color: #A1B3CE;

  }
}

.section {
  padding: 0 0 24px;

  .header {
    &__name {
      font-size: 20px;
      color: #02152C;
      opacity: 0.64;
      margin-bottom: 8px;
    }
  }
}

mat-expansion-panel {
  .mat-expansion-panel-body {
    .mat-expansion-panel:not([class*=mat-elevation-z]) {
      box-shadow: none !important;
    }
  }
}

.mat-button {
  &.btn-delete {
    text-transform: uppercase;
    color: red;
    font-size: 12px;
  }
}

.mat-drawer {
  position: fixed !important;
  overflow: hidden;
}

.late{
  .mat-form-field-infix{
    width: 100%;
  }
}
.mat-expansion-indicator{
  display: none;
}
