<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="'DATE'">
    {{value ? (value | toDate:'M/dd/yy') : defaultValue}}
  </ng-container>
  <ng-container *ngSwitchCase="'NUMBER'">
    {{value ? (value | currency) : defaultValue}}
  </ng-container>
  <ng-container *ngSwitchCase="'BOOLEAN'">
    {{value === 'true' ? 'Present' : defaultValue}}
  </ng-container>
  <ng-container *ngSwitchDefault>
    {{value ? value : defaultValue}}
  </ng-container>
</ng-container>
