<div class="liability-details">

  <app-liability-section [title]="he.type">
    <app-element *ngFor="let housingExpenses of housingExpensesArray" [element]="housingExpenses"></app-element>
  </app-liability-section>
  <app-housing-application [applicantName]="applicantName" [hideCloseIcon]="true"></app-housing-application>
</div>
