@import "components/dialog";

.content {
  display: block;
  padding: 0 24px;
}

p {
  padding: 8px 0;
  color: rgba(#02152C, 0.88);
  font-size: 16px;
}

.names {
  margin-bottom: 16px;
}

.employer-name {
  color: rgba(#02152C, 0.64);
}

.alias {
  color: #0B6CE0;
}

.arrow {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
  margin: 0 16px;
  padding-bottom: 3px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-width: 2px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
