<section class="dialog">
  <h3 class="header">{{componentData?.header}}
    <mat-icon class="svg-icon close cross" svgIcon="cross" (click)="close()"></mat-icon>
  </h3>
  <main class="content">
    <p>{{componentData?.bodyText}}</p>
    <div class="names" *ngIf="employerName && employerAlias">
      <span class="employer-name">{{employerName}}</span>
      <mat-icon class="arrow" svgIcon="arrow-left"></mat-icon>
      <span class="alias">{{employerAlias}}</span>
    </div>
  </main>
  <div class="footer">
    <button mat-button class="btn btn-close" (click)="close()">{{componentData?.cancelText}}</button>
    <button mat-raised-button class="btn primary-btn" [disabled]="isMerging" (click)="sendData()">
      <ng-container *ngIf="isMerging">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </ng-container>
      {{mergeText}}
    </button>
  </div>
</section>
