@import "scss/common";

:host {
  display: flex;
  margin-top: $padding-small;
}

.value {
  width: 50%;
  color: $liabilities-details-header-color;
  opacity: .88;
}

.name {
  color: $liabilities-details-header-color;
  opacity: $liabilities-details-header-opacity;
  font-weight: 500;
  width: 50%;
}
