<div class="section">
    <div class="header">
        <div class="header__name">Liabilities</div>
    </div>
    <mat-accordion [multi]="true" >
        <mat-expansion-panel #parent [disabled]="category.liabilities.length === 0" class="parent"
                             *ngFor="let category of applicant.liabilitiesTypes; let i = index;
                             trackBy: trackByLiability">
            <mat-expansion-panel-header *ngIf="checkParentPanel(category.liabilities, parent)" [expandedHeight]="'56px'" [collapsedHeight]="'56px'" (click)="closeAllCategory()">
                <div class="header" id="parent_{{i}}">
                    <div class="name">
                        <i class="material-icons" [class.up]="parent.expanded">chevron_right</i>
                        <div class="text">{{category.name}} ({{category.liabilities | length}})</div>
                        <div *ngIf="category.name.toLowerCase() === 'other'" class="add-button" (click)="openModal($event)">
                            ADD
                        </div>
                    </div>
                    <div class="balance">
                            {{category?.totalMonthlyPayment | currency : '$'}}
                        <div class="checkbox">
                            <mat-checkbox [(ngModel)]="category.included" [checked]="category.included"
                                          [class.disabled]="category.liabilities.length == 0"
                                          (change)="onChangeCategory($event, category.type)"
                                          (click)="$event.stopPropagation()"></mat-checkbox>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel-header>
            <mat-expansion-panel id="child_{{i}}" *ngFor="let detailLiability of category.liabilities; let i = index; trackBy: trackByLiability"
                                 [expanded]="liabilityHaveTag(detailLiability)" class="child" #child>
                <mat-expansion-panel-header [expandedHeight]="'56px'" [collapsedHeight]="'56px'"
                                            *ngIf="!detailLiability.byApplicant" [class.activeLiability]="liabilityHaveTag(detailLiability)">
                    <div class="header">
                        <div class="name">
                            <i class="material-icons" [class.up]="child.expanded">chevron_right</i>
                            <div class="text" [id]="child.expanded && open ? open + i : i">
                                {{detailLiability.name}}
                            </div>
                            <div class="tags">
                                <app-tag *ngFor="let tag of detailLiability.tags" [tag]="tag"></app-tag>
                            </div>
                        </div>

                        <div class="balance">
                            {{detailLiability.monthlyPayment | currency}}
                            <div class="checkbox">
                                <mat-checkbox id="checkbox_liability_{{detailLiability.id}}"
                                              [(ngModel)]="detailLiability.included"
                                              (change)="onChangeDetails($event, detailLiability.id)"
                                              [checked]="detailLiability.included"
                                              (click)="$event.stopPropagation()"></mat-checkbox>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <mat-expansion-panel-header [expandedHeight]="'56px'" [collapsedHeight]="'56px'"
                                            *ngIf="detailLiability.byApplicant" [class.active-liability]="liabilityHaveTag(detailLiability)">
                    <div class="header">
                        <div class="name">
                            <i class="material-icons" [class.up]="child.expanded">chevron_right</i>
                            <div class="text">
                                {{expenseType[detailLiability.expenseType]}}
                            </div>
                            <div class="tags">
                                <app-tag *ngFor="let tag of detailLiability.tags" [tag]="tag"></app-tag>
                            </div>
                        </div>

                        <div class="balance">
                            {{detailLiability.monthlyPayment | currency}}
                            <div class="checkbox">
                                <mat-checkbox id="checkbox_liability_other_{{detailLiability.id}}"
                                              [(ngModel)]="detailLiability.included"
                                              (change)="onChangeDetails($event, detailLiability.id)"
                                              [checked]="detailLiability.included"
                                              (click)="$event.stopPropagation()"></mat-checkbox>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <app-toggle-detail [folderId]="folderId" [category]="category"
                                   [detailLiability]="detailLiability"></app-toggle-detail>
            </mat-expansion-panel>
        </mat-expansion-panel>
        <mat-expansion-panel class="parent housing-expenses" #parent_he>
            <mat-expansion-panel-header [expandedHeight]="'56px'" [collapsedHeight]="'56px'">
                <div class="header" id="housing_expenses">
                    <div class="name">
                        <i class="material-icons" [class.up]="parent_he.expanded">chevron_right</i>
                        <div class="text">Housing expenses</div>
                        <div class="tags"><app-tag [tag]="'Old 1003'"></app-tag></div>
                    </div>
                    <div class="balance">
                        <div>
                        </div>
                        <div class="checkbox">
                            <mat-checkbox [class.disabled]="true"></mat-checkbox>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel-header>
            <app-housing-expenses-toggle [applicant]="applicant"
                                         [category]="'housing expenses'"></app-housing-expenses-toggle>
        </mat-expansion-panel>
    </mat-accordion>
</div>
