@import "scss/common";
.child {
  mat-expansion-panel-header {
    border-top: $border;
    background-color: #F3F3F4;
    &.mat-expanded {
      background-color: #EFEFEF;
    }
  }
}

.mat-expansion-panel-header{
  flex-direction: row-reverse;
  position: relative;
  .header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    &.public-record{
      justify-content: flex-start;
    }
    .material-icons{
      left: 10px;
      transform: rotate(90deg);
      transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .name{
      text-transform: uppercase;
      font-size: 12px;
      color: #0B1C2B;
      font-weight: bold;
      display: flex;
      position: relative;
      letter-spacing: 0.5px;
      .text{
        opacity: 0.64;
      }
      .add-button{
        display: none;
        position: relative;
        color: #0B6CE0;
        opacity: 1;
        letter-spacing: 1px;
        margin-left: 24px;
      }
    }
    .balance{
      display: flex;
      font-size: 14px;
      color: #0B1C2B;
      font-weight: 500;
      .checkbox{
        padding-left: 15px;
      }
      .housing-expenses{
        margin: 0 32px;
      }
    }
  }

  &:hover{
    .header{
      .name{
        .add-button{
          display: inline;
        }
      }
    }
  }
}

.tags{
  display: flex;
  margin-left: 10px;
}


.parent{
  mat-expansion-panel-header{
    border-bottom: $border;
    padding: 0 16px 0 0;
  }
}
