<ng-container *ngIf="showRuleCodes">{{rule?.ruleId}}</ng-container>
<div class="rule-wrapper" *ngIf="rule; else empty">
  <app-status-icon [status]="rule?.status"></app-status-icon>
  <div class="rule-description temporary-font-extend" title="{{rule?.description  | hyphen}}" appClamp [clampHeight]="40">
    {{rule?.description  | hyphen}}
  </div>
</div>
<ng-template #empty>
  <app-empty-rule class="rule"></app-empty-rule>
</ng-template>
