:host {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(255,255,255);
  opacity: 0.8;

  ::ng-deep .mat-spinner {
    width: 80px;
    height: 80px;

    svg {
      width: 80px;
      height: 80px;
    }

    circle {
      stroke-width: 7% !important;
    }
  }

}
