@import "scss/common";

:host {
  display: block;
  margin: 0;
  flex-grow: 1;

  &:hover {
    .scores-tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}

.dot {
  display: block;
  border-radius: 20px;
  height: 16px;
  width: 16px;
  background-color: rgb(38, 71, 141);
  box-shadow: 0 0 8px 0 rgba(4, 31, 61, 0.03), 0 10px 24px 0 rgba(4, 31, 61, 0.12);
  position: absolute;
  left: -50%;
  top: 0;
  transform: translate(-50%, -2px);
  cursor: pointer;

  &.brown {
    background: $credit-bureau-brown;
  }

  &.light-blue {
    background: $credit-bureau-light-blue;
  }

  &.dark-blue {
    background: $credit-bureau-dark-blue;
  }
}

.scores-tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20px);
  background-color: rgb(33, 49, 70);
  font-size: 12px;
  width: 100px;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 4px;
  z-index: 1;

  .score {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.applicant-scores-result {
  position: relative;
}
