<div class="applicant-scores-result">
  <div class="dot {{color}}"></div>
  <div class="scores-tooltip">
    <div class="score">Equifax: {{scores.equifax | none}}</div>
    <div class="score">TransUnion: {{scores.transUnion | none}}</div>
    <div class="score">Experian: {{scores.experian | none}}</div>
  </div>
</div>
