@import "scss/common";

.public-record-dialog {

  .mat-dialog-title {
    position: relative;
    color: rgba(11, 28, 43, .8);
    font-size: 20px;
    font-weight: bold;
    margin: -4px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;

    &:after {
      display: block;
      content: '';
      height: 1px;
      background-color: rgba(2, 21, 44, 0.1);
      width: 400px;
      position: absolute;
      left: 0;
      transform: translate(-24px, 40px);
      top: 3px;
    }
  }

  .description {
    color: rgba(2, 21, 44, .48);
    font-size: $font-size;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 4px;
  }

  .red {
    color: rgb(231, 38, 66);
  }

  .star {
    margin-left: .2em;
    font-weight: bold;
  }

  [mat-dialog-actions] {
    position: relative;
    text-align: center;
    justify-content: flex-end;
    padding: 16px 0;
    min-height: 0;

    &:before {
      display: block;
      content: '';
      height: 1px;
      background-color: rgba(2, 21, 44, 0.1);
      width: 400px;
      position: absolute;
      left: 0;
      transform: translateX(-24px);
      top: 0;
    }
  }

  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 40px;
  }

  .close-dialog {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px !important;
    width: 16px;
    height: 16px;
  }

  .app-button {
    width: 80px;
    height: 32px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .public-record-dialog {
    .mat-dialog-title {
      position: relative;

      mat-icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.name-form {
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0;
  }

  .mat-form-field-infix {
    border-top: none;
    padding: 0 0 .75em 0;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: .4em;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

.mat-form-field {
  border: 2px solid transparent;

  &.mat-focused {
    @extend %border-focused;
  }
}
