<div class="public-record-dialog" id="public-record-dialog">
  <h1 mat-dialog-title>Edit Name <mat-icon class="close-dialog" (click)="close()">clear</mat-icon></h1>
  <div mat-dialog-content id="content">
    <span class="description">Name<span class="star red">*</span></span>
    <mat-form-field class="name-form" appearance="fill">
      <input maxlength="100" matInput [value]="name" [(ngModel)]="name" [formControl]="nameControl">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button [mat-dialog-close]="true" class="app-button bg-gray-text-black" id="cancelBtn" mat-button>Cancel</button>
    <button class="app-button bg-blue-text-white" id="saveBtn" mat-button (click)="save()" [disabled]="!canSave()">Save</button>
  </div>
</div>
