<div class="liability">
  <div class="left-side"><div class="liability-type" title="{{liabilityTypes[liabilities.type]}}"></div>
    <app-horizontal-progress-bar [colors]="colors" [liabilities]="liabilities" [maxSum]="maxSum"></app-horizontal-progress-bar>
  </div>
  <div class="right-side">
    <div class="liability-value">{{totalAmount | currency}}</div>
  </div>
</div>
