.liability {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;

}
.liability-type {
  width: 7em;
  margin-right: 2em;
  opacity: 0.88;
  color: rgb(2,21,44);
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &[title]:before {
    content: attr(title);
  }
}

.liability-value {
  opacity: 0.88;
  color: rgb(2,21,44);
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  text-align: right;
  margin-left: 1em;
}

.left-side {
  display: flex;
  width: 100%;
  align-items: center;
}
.right-side {
  width: 6em;
}
app-horizontal-progress-bar {
  width: 100%;
}
