@import 'scss/common';

:host {
  display: block;
  padding: 24px 16px 16px;
}

.liability-details {
  display: flex;
  width: 100%;
}

.footer-liability-edit {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  border-top: $border;
  margin-top: 24px;

  &.other {
    justify-content: space-between;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }
}
