<div class="liability-details">
  <app-liability-section title="Details" class="details">
    <app-detail-line *ngIf="editedLiability.byApplicant">
      <ng-container name>Type</ng-container>
      <ng-container value>
        <app-select [value]="expenseTypeHelpVariable" [keys]="et" [enumKey]="expenseType"
                    (valueChange)="expenseTypeHelpVariable = $event"></app-select>
      </ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Status</ng-container>
      <ng-container value>
        <app-input [value]="status[editedLiability.details.status]" [disabled]="true"></app-input>
      </ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Account #</ng-container>
      <ng-container value>
        <app-input [value]="editedLiability.details.accountIdentifier"
                   (changeValue)="editedLiability.details.accountIdentifier = $event"
                   [mask]="mask"></app-input>
      </ng-container>
    </app-detail-line>

    <app-detail-line *ngIf="!editedLiability.byApplicant">
      <ng-container name>ECOA</ng-container>
      <ng-container value>
        <app-select [value]="editedLiability.details.ecoa" [keys]="keysECOA" [enumKey]="ecoa"
                    (valueChange)="editedLiability.details.ecoa = $event"></app-select>
      </ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Date Open</ng-container>
      <ng-container value>
        <app-date-picker [date]="editedLiability.details.dateOpened"
                         (newDate)="editedLiability.details.dateOpened = $event.date"></app-date-picker>
      </ng-container>
    </app-detail-line>

    <app-detail-line *ngIf="!editedLiability.byApplicant">
      <ng-container name>Date Reported</ng-container>
      <ng-container value>
        <app-date-picker [date]="editedLiability.details.dateReported"
                         (newDate)="editedLiability.details.dateReported = $event.date"></app-date-picker>
      </ng-container>
    </app-detail-line>

    <app-detail-line *ngIf="!editedLiability.byApplicant">
      <ng-container name>Highest Credit</ng-container>
      <ng-container value>
        <app-input [value]="editedLiability.details.highestCredit"
                   (changeValue)="editedLiability.details.highestCredit = $event"
                   [prefix]="true" [mask]="mask"></app-input>
      </ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Balance</ng-container>
      <ng-container value>
        <app-input [value]="editedLiability.details.balance"
                   (changeValue)="editedLiability.details.balance = $event"
                   [prefix]="true" [mask]="mask"></app-input>
      </ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Monthly Payment</ng-container>
      <ng-container value>
        <app-input [value]="editedLiability.details.monthlyPayment"
                   (changeValue)="editedLiability.details.monthlyPayment = $event"
                   [prefix]="true" [mask]="mask"></app-input>
      </ng-container>
    </app-detail-line>
  </app-liability-section>

  <app-liability-section class="late-payments" title="Late Payments" *ngIf="!editedLiability.byApplicant">
    <app-detail-line>
      <ng-container name>30 days ({{editedLiability.latePayments.lates30Days | length}})</ng-container>
      <ng-container value>
        <app-edit-late-payments-list
          [latePayments]="editedLiability.latePayments.lates30Days"
          (newLatePaymentArray)="editedLiability.latePayments.lates30Days = $event">
        </app-edit-late-payments-list>
      </ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>60 days ({{editedLiability.latePayments.lates60Days | length}})</ng-container>
      <ng-container value>
        <app-edit-late-payments-list
          [latePayments]="editedLiability.latePayments.lates60Days"
          (newLatePaymentArray)="editedLiability.latePayments.lates60Days = $event">
        </app-edit-late-payments-list>
      </ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>90 days ({{editedLiability.latePayments.lates90Days | length}})</ng-container>
      <ng-container value>
        <app-edit-late-payments-list
          [latePayments]="editedLiability.latePayments.lates90Days"
          (newLatePaymentArray)="editedLiability.latePayments.lates90Days = $event">
        </app-edit-late-payments-list>
      </ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>120 days ({{editedLiability.latePayments.lates120Days | length}})</ng-container>
      <ng-container value>
        <app-edit-late-payments-list
          [latePayments]="editedLiability.latePayments.lates120Days"
          (newLatePaymentArray)="editedLiability.latePayments.lates120Days = $event">
        </app-edit-late-payments-list>
      </ng-container>
    </app-detail-line>
  </app-liability-section>
  <app-comment-section style="width: 33%" *ngIf="!editedLiability.byApplicant"
                       [comments]="editedLiability.comments"></app-comment-section>
</div>
<div class="footer-liability-edit" [class.other]="editedLiability.byApplicant">
  <button id="delete-liability-{{editedLiability.id}}" mat-button *ngIf="editedLiability.byApplicant"
          class="btn-delete"
          (click)="remove()">
    delete {{expenseType[expenseTypeHelpVariable]}}</button>
  <div class="buttons">
    <button id="cancel-liability-{{editedLiability.id}}" mat-button
            class="app-button btn-bg-gray-text-black position-left" (click)="cancel()">Cancel
    </button>
    <button id="save-liability-{{editedLiability.id}}" mat-button
            class="app-button btn-bg-blue-text-white position-right" (click)="save()">
      save {{category.name}}</button>
  </div>
</div>
