:host {
  display: block;
  margin: 0;
  flex-grow: 1;

  &:hover {
    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}
.tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border-radius: 2px;
  bottom: 100%;
  transform: translateY(-19px);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 6px 0 rgba(4, 31, 61, 0.03), 0 8px 15px 0 rgba(4, 31, 61, 0.1);
  width: 270px;
  z-index: 4;

  &__body {
    box-sizing: border-box;
    position: relative;
    max-height: 160px;
    min-height: 0;
    display: block;

    &:after {
      content: '▼';
      font-size: 18px;
      color: #fff;
      position: absolute;
      top: 100%;
      right: 50%;
      transform: translate(50%, -5px) scaleX(2);
      text-shadow: 0 7px 5px rgba(150, 150, 150, 0.2);
    }

    .applicant-name {
      opacity: 0.48;
      color: rgb(2, 21, 44);
      font-size: 14px;
      line-height: 20px;
    }
    .date {
      opacity: 0.88;
      color: rgb(2, 21, 44);
      font-size: 14px;
      line-height: 24px;
      text-align: center;
    }

    .price {
      opacity: 0.88;
      color: rgb(2, 21, 44);
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
      text-align: right;
    }
    &-left-side {
      display: flex;
    }
    .scroll-container {
      .ps--active-y {
        .scrollable-content {
          //margin: 0 26px 0 16px;
        }
      }
    }

    .ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
      background-color: rgb(255, 255, 255);
    }
    perfect-scrollbar > .ps.ps--scrolling-y > .ps__rail-y, perfect-scrollbar > .ps.ps--scrolling-x > .ps__rail-x {
      background-color: rgb(255, 255, 255);
    }
    .ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y {
      background-color: rgb(134,143,154);
      width: 8px;
    }
    perfect-scrollbar > .ps {
      max-height: 115px;
    }
    .ps__thumb-y {
      width: 8px;
      background-color: rgb(134,143,154);
    }
    .ps:hover > .ps__rail-x, .ps:hover > .ps__rail-y, .ps--focus > .ps__rail-x, .ps--focus > .ps__rail-y, .ps--scrolling-x > .ps__rail-x, .ps--scrolling-y > .ps__rail-y {
      opacity: 1;
    }
  }

  .lates-content {
    position: relative;
    max-height: 160px;
    min-height: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.applicants-lates {
  display: flex;
  justify-content: center;

  .no-lates {
    display: flex;
    justify-content: flex-start;
    width: 56px;

    &:after {
      display: block;
      content: '';
      width: 8px;
      height: 1px;
      background-color: rgb(2, 21, 44);
      opacity: 0.32;
      line-height: 16px;
      margin: 0 9px;
    }
  }

  .lates-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
  }

  .applicants-in-late {
    display: flex;
    align-items: center;
    color: rgb(11, 108, 224);
    font-weight: 500;
    font-size: 10px;
    background-color: rgb(237, 245, 255);
    border-radius: 2px;
    padding: 0.1em 0.2em;
    margin-left: 2px;
    cursor: pointer;
    height: 16px;
    width: 24px;
    justify-content: space-around;

    mat-icon {
      font-size: 11px;
      height: 16px;
      width: 9px;
      display: flex;
      align-items: center;
    }
  }

  .red-circle {
    position: relative;
    height: 24px;
    width: 24px;
    display: flex;
    border: 2px solid rgb(252, 233, 236);
    border-radius: 20px;
    align-items: center;
    justify-content: center;

    span {
      cursor: pointer;
      width: 16px;
      height: 16px;
      background-color: rgb(231, 38, 66);
      justify-content: center;
      display: flex;
      border-radius: 20px;
      align-items: center;
      color: rgb(255, 255, 255);
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.scrollable-content {
  margin: 16px;
}

/* IE10+ CSS styles here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .tooltip {
    -ms-transform: translate(-50%, -18px);
    left: 50%;
  }
  .mat-icon {
    height: 14px;
    width: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
