<div class="applicants-lates">
  <div *ngIf="!latesExist" class="no-lates"></div>
  <div *ngIf="latesExist" class="lates-container">
    <div class="red-circle"><span>{{latesAmount}}</span>
      <div *ngIf="latesExist" class="tooltip">
        <div class="tooltip__body">
          <perfect-scrollbar class="scroll-container" [scrollIndicators]="true">
            <div class="scrollable-content">
              <div class="lates-content" *ngFor="let applicant of lates">
                <div class="tooltip-left-side">
                  <div class="applicant-name">{{applicant.firstName | titlecase}} {{applicant.lastName | titlecase}}</div>
                </div>
                <div class="tooltip-right-side">
                  <div *ngFor="let date of applicant.dates" class="date">
                    {{date | date:'MM/yyyy'}}</div>
                </div>
              </div>
            </div>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
    <div class="applicants-in-late">
      <mat-icon>person</mat-icon>
      <span>{{applicantsCount}}</span>
    </div>
  </div>
</div>

