<button [disabled]="previousRuleAvailable$ | async" class="nav-btn qa-arrow-left" (click)="previousRule()">
  <mat-icon class="svg-icon icon-left-arrow" svgIcon="arrow-left"></mat-icon>
</button>
<button [disabled]="nextRuleAvailable$ | async" class="nav-btn qa-arrow-right" (click)="nextRule()">
  <mat-icon class="svg-icon icon-right-arrow" svgIcon="arrow-left"></mat-icon>
</button>
