@import "abstracts/variables";

:host {
  display: flex;
}

.mat-icon {
  width: 16px;
  height: 12px;
  vertical-align: middle;
}

.nav-btn {
  background: none;
  border: none;
  padding: 0;
  height: 18px;
  width: 18px;

  &:hover {
    cursor: pointer;
  }

  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
