<div class="card total-debt" id="total-debt">
  <div class="card-header" id="tb-header">
    <div class="left-side">
      <div class="card-title" id="total-debt-title">Total monthly debt</div>
      <div class="score-badge" id="debt-amount">
        <span class="score">{{totalAmount | currency}}</span>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="liabilities">
      <app-liability-type [id]="'liability-' + liabilities.name" *ngFor="let liabilities of liabilitiesSummary.liabilitiesTypes" [maxSum]="maxSum" [colors]="colors" [liabilities]="liabilities"></app-liability-type>
    </div>
  </div>
</div>
