@import "scss/common";

.total-debt {
  margin: $padding-default 0;

  .liabilities {
    margin-top: 2em;
  }
}
app-total-debt {
  width: 100%;
}
.score-badge {
  display: flex;
  align-items: center;

  .score {
    opacity: 0.88;
    color: rgb(11,28,43);
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
  }
}
