<div class="employment-header"
     [style.height.px]="employmentHeight">
  <div class="employment-name" [title]="employment.employerName">{{employment.employerName}}</div>
  <ng-container *ngIf="showDates">
    <span class="start-date">{{employment.startDate | toDate:'MM/yyyy'}} - </span>
    <span class="end-date">{{employment.endDate ? (employment.endDate | toDate:'MM/yyyy') : 'Current'}}</span>
  </ng-container>
  <div *ngIf="employment.dateOrigin" class="date-origin">{{employment.dateOrigin | docName:'TL'}}</div>
</div>
