@import "abstracts/variables";

.employment-header {
  padding: 8px 24px;
  border-top: solid 1px rgba(2, 21, 44, 0.08);
  box-sizing: border-box;
  cursor: pointer;
}

.employment-name {
  color: $black80;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.start-date, .end-date {
  color: $black40;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.date-origin {
  display: inline-block;
  height: 16px;
  border-radius: 2px;
  background-color: #F3F3F4;
  color: $black60;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  padding: 0 6px;
}
