@import "components/employment-type-tag";
@import "components/employer-header";

:host {
  display: flex;
  position: relative;
  margin: 0 8px 0 16px;
}

.dropdown-trigger {
  margin-right: 16px;
}

.triangle {
  width: 0;
  height: 0;
  margin-left: 8px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #5a6675;
}

:host(.failed) {
  .triangle {
    border-top: 5px solid #DB0932;
  }

  .employer-name {
    color: #DB0932;
  }
}

.not-merge .employer {
  cursor: default;
}

.list {
  background: white;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0 0 4px 0 rgba(4, 31, 61, 0.03), 0 5px 8px 0 rgba(4, 31, 61, 0.08);
}

.list-item {
  padding: 8px 24px 8px 24px;
  margin-top: 8px;
  opacity: 0.88;
  color: #02152C;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(11, 108, 224, 0.05);
  }

  &:last-child {
    margin-bottom: 8px;
  }
}

.last-item {
  margin-bottom: 8px;
}

.restore-item:not(:last-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.no-employer-name {
  color: #DB0932;
  font-size: 14px;
  line-height: 20px;
  margin-right: 16px;
}

.not-merged-info {
  color: #DB0932;
  font-size: 14px;
  line-height: 20px;
}
