<div class="employer"
     [class.not-merge]="canOpenPanel"
     cdk-overlay-origin
     (click)="openEmployerList()"
     [matTooltip]="aliasesTooltipText"
     [matTooltipDisabled]="!aliasesTooltipText"
     matTooltipClass="employer-aliases-tooltip"
     #origin="cdkOverlayOrigin">
  <h3 class="employer-header" [class.folder-disabled]="!isFolderOpen">

    <ng-container *ngIf="alreadyMerged">
      <span class="employer-name">
        {{employerName | employerAliases:aliases}}
      </span>
      <span *ngIf="employerType" class="tag" [class.primary-tag]="isPrimary(employerType)">
        {{employerType}}
      </span>
    </ng-container>

    <span *ngIf="!employerName" class="no-employer-name">
      This document doesn't have an employer name. Consider withdrawing acceptance of this document
    </span>

    <span *ngIf="ableToMerge" class="not-merged-info">
      Link this document to an employer from the Loan Application
    </span>

  </h3>
  <div *ngIf="canOpenPanel" class="dropdown-trigger triangle" [class.folder-disabled]="!isFolderOpen"></div>
</div>
<div class="employer-bg"></div>

<ng-template
  cdk-connected-overlay
  cdkConnectedOverlayLockPosition
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOffsetY]="8"
  [cdkConnectedOverlayOpen]="panelOpen"
  [cdkConnectedOverlayOrigin]="origin"
  (backdropClick)="close()"
  (detach)="close()">
  <ul class="list">
    <ng-container *ngIf="ableToMerge">
      <li class="list-item"
          *ngFor="let employer of employersList; last as isLast"
          [class.last-item]="isLast"
          (click)="merge(employment.first, employer)">
        {{employer?.name}}<span class="tag" [class.primary-tag]="isPrimary(employer?.type)">{{employer?.type}}</span>
      </li>
    </ng-container>
    <li class="list-item restore-item" *ngIf="ableToRestore" (click)="restore(employment.data)">
      Restore to Default
    </li>
  </ul>
</ng-template>
