<mat-form-field appearance="fill" class="select" id="status">
  <mat-select placeholder="Select" [(value)]="value" (valueChange)="change($event)">
    <mat-option value="" *ngFor="let key of keys" [value]="key">{{enumKey[key]}}</mat-option>
  </mat-select>
</mat-form-field>