<div class="public-record-component">

  <app-liability-section title="Details" class="details">

    <app-detail-line>
      <ng-container name>Court Name</ng-container>
      <ng-container value>{{publicRecord.courtName | default}}</ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Docket #</ng-container>
      <ng-container value>{{publicRecord.docketNumber | default}}</ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Status</ng-container>
      <ng-container value>{{dispositionType[publicRecord.dispositionType] | default}}</ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Date Filed</ng-container>
      <ng-container value>{{publicRecord.dateFiled | formatDateMMYY}}</ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Date Reported</ng-container>
      <ng-container value>{{publicRecord.dateReported | formatDateMMYY}}</ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Date Satisfied</ng-container>
      <ng-container value>{{publicRecord.dateSatisfied | formatDateMMYY}}</ng-container>
    </app-detail-line>

    <app-detail-line>
      <ng-container name>Amount</ng-container>
      <ng-container value>{{publicRecord.legalObligationAmount | currency | default}}</ng-container>
    </app-detail-line>
  </app-liability-section>
</div>
<div class="footer">
  <div class="comments">
    <!--<img src="assets/images/svg/comment.svg"/>-->
  </div>
  <button id="edit-public-record-{{publicRecord.id}}-btn" class="app-button bg-gray-text-blue" (click)="edit()"
          mat-button>Edit Public Record
  </button>
</div>
