@import "scss/common";

.details {
  display: inline-block;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 16px 16px 16px;
  border-top: $border;
  padding-top: 16px;


  .comments {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.public-record-component {
  padding: $padding-small;
}
