@import "common";

.mat-button {

  &.app-button {
    color: $color-blue;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 16px;
    text-align: center;
    background-color: rgb(243, 243, 244);
    padding: 0.5em 0.8em;
    text-transform: uppercase;
    height: 3em;
    border-radius: 2px;
    margin-left: 0 !important;

    &[disabled] {
      opacity: .5;
    }
  }

  &.btn-bg-gray-text-black {
    background-color: $color-gray;
    color: $color-black;
    margin-right: 8px;
  }

  &.btn-bg-blue-text-white {
    background-color: $color-blue;
    color: $color-white;
  }

  &.btn-bg-gray-text-blue {
    color: $color-blue;
    background-color: $color-gray;
  }

  &.btn-bg-dark-gray-text-white {
    color: $color-white;
    background-color: $color-dark-gray;
  }

  &.border-focused {
    border: 2px solid rgba(11, 108, 224, 0.8);
    border-radius: 3px;
  }
}

.active-btn {
  .app-button {
    color: $color-white;
    background-color: $color-dark-gray;
  }
}
