//laptops screen widths:
$l-size: 1920px;
$xm-size: 1440px;
$m-size: 1200px;
$s-size: 1024px;


$padding-default: 24px;
$padding-small: 16px;

$font-size: 14px;
$line-height: 20px;

$border: 1px solid rgb(243, 243, 243);
$box-shadow: 0 0 2px 0 rgba(4,31,61,0.03), 0 2px 3px 0 rgba(4,31,61,0.1);

$credit-bureau-light-blue: rgb(4, 166, 203);
$credit-bureau-dark-blue:  rgb(38, 71, 141);
$credit-bureau-brown: rgb(132, 27, 42);

$liabilities-details-header-opacity: .48;
$liabilities-details-header-color: rgb(2, 21, 44);

$color-blue: rgb(11, 108, 224);
$color-gray: rgb(243, 243, 244);
$color-dark-gray: rgba(2,21,44, .64);
$color-black: rgb(94, 105, 116);
$color-white: rgb(255, 255, 255);

$sidenav-width: 328px;

%border-focused {
  border: 2px solid rgba(11, 108, 224, 0.8);
  border-radius: 3px;
}
