<ng-container *ngIf="showRuleCodes">{{rule?.ruleId}}</ng-container>
<div class="rule-wrapper" *ngIf="rule; else empty">
  <chk-status-icon *ngIf="!isNotDefined(rule?.status)" [status]="rule?.status"></chk-status-icon>
  <div *ngIf="isNotDefined(rule?.status)" class="not-accessible mat-icon"></div>
  <div class="rule-description temporary-font-extend" title="{{rule?.description | hyphen}}" chkClamp
       [clampHeight]="40">
    {{rule?.description | hyphen}}
  </div>
</div>
<div class="rule-waive" *ngIf="rule?.waive">
  {{rule?.waive.reason}}
</div>

<ng-template #empty>
  <chk-empty-rule class="rule"></chk-empty-rule>
</ng-template>
