@import "abstracts/variables";

:host {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  box-shadow: inset 0 -1px 0 0 rgba(#02152C, .08);
  color: #02152C;
  cursor: pointer;
  padding: 15px 8px;

  &.disabled {
    color: $black60;
    cursor: not-allowed;
  }
}

:host.selected {
  color: #0B6CE0;
  background-color: rgba(#0B6CE0, .05);
  font-weight: 500;

  .rule-description {
    opacity: 1;
  }
}

.rule-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.rule-description {
  opacity: 0.88;
  width: 256px; // 308px - 36px(status-icon) - 16px(padding)
}

.not-accessible {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: $black95;
  margin-right: 16px;
}

.temporary-font-extend {
  font-size: 15px;
}

.rule-waive {
  color: rgba(#7F8F9D, .88);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding: 5px 0 0 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
