.score-badge {
  display: flex;
  align-items: center;

  .score {
    opacity: 0.88;
    color: rgb(11,28,43);
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
  }

  .rank {
    color: rgb(255,255,255);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    background-color: rgb(54,179,97);
    border-radius: 20px;
    padding: 0.2em 0.4em;
    margin-left: 1em;
    text-transform: uppercase;

    &.dark-green {
      background-color: rgb(54,179,97);
    }
    &.light-green {
      background-color: rgb(66,202,114);
    }
    &.orange {
      background-color: rgb(243,180,87);
    }
    &.red {
      background-color: rgb(219,9,50);
    }
  }

}
