@import "scss/common";

:host {
  height: 1.5em;
  display: flex;
  vertical-align: middle;
  margin-left: $padding-small;
  align-items: center;

  &.dot-brown {
    .dot::after {
      background: $credit-bureau-brown;
    }
  }

  &.dot-light-blue {
    .dot::after {
      background: $credit-bureau-light-blue;
    }
  }

  &.dot-dark-blue {
    .dot::after {
      background: $credit-bureau-dark-blue;
    }
  }
}

.dot {
  display: flex;
  align-items: center;

  &::after {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background: rgb(184, 59, 59);
    display: inline-block;
    margin-right: 4px;
  }
}

.bureau-logo {
  width: 64px;
  height: 24px;
}

@media only screen and (max-width: $m-size) {
  .bureau-logo {
    width: 50px;
  }
}
