.no-doc {
  display: flex;
  max-width: 850px;
  color: rgba(165, 165, 165, 0.88);
  background: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 24px 0;
  justify-content: center;
  margin: 0 0 24px 16px;
  width: 100%;
}
