<mat-sidenav-container>
  <mat-sidenav mode="side"
               opened disableClose="true">
    <app-sidebar></app-sidebar>

  </mat-sidenav>
  <mat-sidenav-content>
    <header>
      <nav id="navigation"
           role="navigation">

        <a *ngFor="let summaryApplicant of tabHeader; trackBy: trackByApplicant"
           mat-button
           [routerLink]="summaryApplicant.route"
           routerLinkActive="active"
           queryParamsHandling="preserve"
           class="nav-button"
          (click)="resetComponentNavigation()">
          {{ summaryApplicant.firstName }} {{summaryApplicant.lastName | felonize}}
        </a>
      </nav>

      <div class="nav-toolbar"></div>

    </header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-progress-spinner id="app-progress-spinner" *ngIf="spinnerEnabled"></app-progress-spinner>
