@import "modules/mortgage/components/other/components/public-records/edit-public-record-name/edit-public-record-name.component";
@import "scss/common";

.mat-drawer-content {
  overflow: visible;
  margin-left: $sidenav-width !important;
}


.app-content {
  display: flex;


  @media only screen and (max-width: $s-size) {
    flex-direction: column;
  }
}

.app-col {
  width: 50vw;
  margin: 68px 0;

  @media only screen and (max-width: $s-size) {
    width: calc(100vw - 390px);
    margin: 24px 0;
  }

  &:first-child {
    margin-right: 12px;

    @media only screen and (max-width: $s-size) {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  &:last-child {
    margin-left: 12px;

    @media only screen and (max-width: $s-size) {
      margin-left: 0;
    }
  }
}


.card {
  margin: 0 auto;
  padding: 24px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: $box-shadow;
}

.card-header {
  display: flex;
  justify-content: space-between;
  color: rgb(11, 28, 43);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-top: 0;
}

.card-title {
  opacity: 0.4;
  color: rgb(11, 28, 43);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 12px;
}

.row {
  display: flex;
  margin-bottom: 24px;

  &:first-child {
    margin-bottom: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .column {
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.button {
  font-size: 12px;
  letter-spacing: 0.3px;
  text-align: center;
  height: 24px;
  text-transform: uppercase;
  line-height: 16px !important;
  border-radius: 3px;
  border: none !important;
  background-color: rgb(243, 243, 244);
  color: rgb(96, 107, 122);
  width: 88px;
  padding: 0 !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mat-tab-body-content {
    overflow: visible !important;
  }
}

.mat-tab-nav-bar {
  overflow: visible;
}

.import-buttons {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 18px;
  top: 49px;
}

.mat-tab-nav-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.cdk-overlay-dark-backdrop {
  background: rgb(53, 75, 99);
}

.mat-raised-button[disabled] {
  opacity: .5;
}

.detail-line {
  .mat-form-field {
    width: 100%;
    border-radius: 3px;
    border: 2px solid transparent;
    line-height: 16px;
    height: 20px;
    background-color: #F5F6F7;

    .mat-form-field-infix {
      padding: 0;
    }

    &.mat-focused {
      border-color: rgba(11, 108, 224, 0.8);
      background-color: #FFF;
      color: rgba(#02152C, 0.88);
    }

    &.mat-form-field-disabled {
      .mat-form-field-flex {
        background-color: transparent;
      }
    }

    &.date-picker {

      .mat-form-field-prefix, .mat-form-field-suffix {
        display: flex;
        align-self: center;
      }

      .mat-input-element {
        padding: 0 0 5px;
      }

      .mat-icon-button {
        width: 20px !important;
        height: 20px !important;
        margin: 0 4px;

        .mat-datepicker-toggle-default-icon {
          width: 20px !important;
        }
      }

      &.mat-focused {
        .error {
          border-color: #EA4F66;
        }

        &.ng-invalid {
          border-color: #EA4F66;

        }
      }

    }
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  .mat-form-field-underline {
    display: none !important;
  }

  .mat-form-field-flex {
    padding: 0 0 0 7px !important;
    background-color: transparent;
  }

  .mat-form-field-prefix {
    margin: 0 1px 0 0;
  }

  .mat-form-field-infix {
    border-top: 2px solid transparent !important;

    .mat-select-trigger {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .mat-select-value {
        display: block;
        max-width: none;
      }
    }
  }
}

.select {
  .mat-select-arrow {
    margin: -3px 9px;
    border-top: 7px solid;
  }
}


.housing-expenses {

  .mat-form-field-flex {
    height: 25px !important;
  }

  .mat-form-field-infix {
    padding: 2px 0 !important;
  }

}

app-dti-component {
  width: 100%;
}

.dialog {
  .detail-line .mat-form-field {
    width: 100% !important;
    height: 40px !important;
  }

  .mat-select {
    height: 40px;
  }

  .mat-select-trigger {
    height: 100%;
  }
}

.public-record-dialog {
  .mat-focused {
    @extend %border-focused;
  }
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-expansion-panel.mat-expanded {
  box-shadow: 0 0 4px 0 rgba(4, 31, 61, 0.03), 0 5px 8px 0 rgba(4, 31, 61, 0.08);
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  border-radius: 0 !important;
}

.cdk-overlay-pane:not(.mat-datepicker-popup) {
  position: absolute !important;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.mat-expansion-panel-header {
  border-radius: 0 !important;
}

.mat-ink-bar {
  background-color: rgb(11, 108, 224) !important;
}

header {
  position: fixed;
  z-index: 3;
  left: $sidenav-width;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 24px 0 12px;
  background: $color-white;
  border-bottom: $border;
  overflow: auto;

  .mat-tab-header, .mat-tab-nav-bar {
    border-bottom: none;
  }
}

.mat-tab-nav-bar.mat-primary {
  top: 0;
  left: $sidenav-width;
}

.mat-expansion-panel-header {
  .header {
    .name {
      align-items: center;
    }

    .material-icons {
      font-size: 20px;
      color: rgba(11, 28, 43, .64);
      margin: 0 4px 0 16px;

      &.up {
        transform: rotate(270deg) !important;
      }
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .public-records {
    .child.mat-expansion-panel:not(.mat-expanded) {
      .mat-expansion-panel-content {
        margin-bottom: -16px;
      }
    }
  }
}

.nav-button {
  position: relative;
  height: 48px;
  line-height: 48px;
  margin: 0 12px;
  padding: 0 9px;
  border-radius: 0;
  color: rgba(#02152C, 0.48);
  text-transform: uppercase;
  letter-spacing: 0.5px;

  &:after {
    visibility: hidden;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: #0B6CE0;
    transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  }

  &.active {
    font-weight: 700;
    color: rgba(#02152C, 0.88);

    &:after {
      left: 0;
      right: 0;
      visibility: visible;
    }
  }
}

.mat-sidenav-container {
  overflow: visible;
}
