<div class="main">
  <section chkScrollHover class="documents-container scroll-vert toggle-scroll">
    <div *ngFor="let group of ruleData?.data?.groups | keyvalue: mergeGroupsOrder; trackBy: trackByIndex"
         class="employment-document">
      <chk-merging-header class="doc-header" [class.failed]="isRuleNotPassing && isInvalid(group.value.first.status)"
                          [employment]="group.value"
                          [applicantId]="ruleData?.applicantId"
                          [employersList]="ruleData?.data?.loanAppEmployers"></chk-merging-header>

      <div class="qa-card wrapper">
        <ng-container *ngFor="let employmentData of group.value.data">
          <chk-document-card class="document-card"
                             [documentId]="employmentData?.documentId"
                             [documentType]="employmentData?.docType"
                             [snippetUrl]="employmentData?.snippetUrl"
                             [class.failed]="isRuleNotPassing && employmentData?.borderValue && employmentData?.status !== 'VALID'">
            <chk-validation-info additional-content [dataValidation]="[employmentData]">
            </chk-validation-info>
            <ng-container info>
              <div class="row not-evaluated"
                   *ngIf="!employmentData?.borderValue && isNotEvaluated(employmentData?.status)">
                Not evaluated
              </div>
            </ng-container>
          </chk-document-card>
        </ng-container>
      </div>
    </div>
  </section>

</div>

