<div class="liability-details">
  <div class="housing-expenses-details">
    <div class="types" id="present-housing-expenses">
      <app-display-model [he]="he.presentHousingExpenses" [applicant]="applicant"></app-display-model>
    </div>
    <div class="types" id="propose-housing-expenses">
      <app-display-model [he]="he.proposeHousingExpenses" [applicant]="applicant"></app-display-model>
    </div>
  </div>
</div>
<div class="liability-footer">
  <div class="ico">
    <!--<img src="assets/images/svg/comment.svg"/>-->
  </div>
  <div class="liability-button">
    <button id="he-edit-btn" mat-button class="app-button bg-gray-text-blue" (click)="edit()">edit {{category}}</button>
  </div>
</div>
