@import 'scss/common';

:host {
  width: 33%;
  padding: 0;
  margin-right: $padding-small;

  &:last-child {
    margin-right: 0;
  }

}

.header {
  color: $liabilities-details-header-color;
  font-size: $font-size;
  opacity: $liabilities-details-header-opacity;
  text-transform: uppercase;
  border-bottom: $border;
  padding: $padding-small;
}

.container {
  padding: 0 $padding-small $padding-small $padding-small;
}

.content {
  border: $border;
}
