@import "abstracts/mixins/scroll";

.scroll-horiz {
  &::-webkit-scrollbar {
    height: 8px;
  }

  @include scroll-common();

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: auto;
  }
}

.scroll-vert {
  &::-webkit-scrollbar {
    width: 8px;
  }

  @include scroll-common();

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: auto;
  }
}

.toggle-scroll {
  padding-right: 8px;
  &.section-hover {
    padding-right: 0;
  }
  @include scroll-padding-ms-browser();
}
