
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.documents-container {
  height: 100%;
}

.employment-document {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  margin: 0 8px;
}

.document-card {
  margin-bottom: 24px;
  margin-left: 8px;
  max-width: 850px;
  width: 100%;
}

.date-info {
  padding: 0 8px 0 0;
  white-space: nowrap;
}

.failed .date-info {
  color: #E72642;
  font-weight: 500;
}

.doc-header {
  background-color: #F7F7F8;
  z-index: 1;
  max-width: 850px;
  width: 100%;
}

.not-evaluated {
  color: #556272;
  font-weight: 400;
  padding-right: 8px;
  width: auto;
  white-space: nowrap;
}
