@mixin ie-no-bottom-margin() {
  @supports (-ms-ime-align: auto) {
    margin-bottom: 0;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    margin-bottom: 0;
  }
}

@mixin ie-padding-bot($value) {
  @supports (-ms-ime-align: auto) {
    padding-bottom: $value;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    padding-bottom: $value;
  }
}
