@mixin scroll-common() {
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #C1C1C1;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background: #F1F1F1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #A8A8A8;
  }

  // FF
  scrollbar-width: thin;
}

@mixin styles-for-ms-browsers($side: right, $size: 17px) {
  @if $side == right {
    padding-right: $size;

    &.section-hover {
      padding-right: 0;
    }
  } @else {
    padding-bottom: $size;

    &.section-hover {
      padding-bottom: 17px;
    }
  }
}

@mixin scroll-padding-ms-browser($side: right, $size: 17px) {
  @supports (-ms-ime-align: auto) {
    @include styles-for-ms-browsers($side, $size);
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    //native scroll on ie have 17px width/height
    @include styles-for-ms-browsers($side, $size);
  }
}
