table {
  border-collapse: collapse;
  font-size: 12px;
  font-family: "Times New Roman", serif;
  width: 100%;
  user-select: none;

  tbody {
    border: 1px solid #D8D8D8;
    border-top: 0;

    td {
      height: 62px;
      vertical-align: top;
      padding: 8px;
    }
  }
}

.name-and-address .cell-value-wrapper {
  justify-content: flex-start;
}

.first-date {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.position {
  border-bottom: 2px solid #000;
}

.second-date {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.cell-value-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: calc(100% - 8px); // padding
  padding: 16px;
  font-weight: 600;
  font-family: Roboto, serif;
  white-space: pre-line;
  box-sizing: border-box;

  .highlighted-cell {
    border-radius: 2px;
    padding: 8px 4px;

    &.green {
      border: 1px solid #42CA72;
      background-color: rgba(66, 202, 114, 0.08);
    }

    &.red {
      border: 1px solid #E72642;
      background-color: rgba(231, 38, 66, 0.05);
    }

    &.gray {
      border: 1px solid rgba(2, 21, 44, 0.64);
      background-color: rgba(2, 21, 44, 0.1);
    }
  }
}

.header {
  height: 18px;
  width: 250px;
  color: #FFFFFF;
  background: #000;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 18px;
  text-align: center;
}
