<table>
    <thead>
    <tr>
        <th class="header" colspan="3">{{titlePrefix}} EMPLOYMENT INFORMATION</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="name-and-address" rowspan="2">
            <span class="cell-header">{{cells?.nameAndAddress?.customTitle || 'Name & Address of Employer'}}</span>
            <div class="cell-value-wrapper">
                <span>{{cells?.nameAndAddress?.value}}</span>
            </div>
        </td>
        <td class="first-date">
            <span class="cell-header">{{cells?.firstDate?.customTitle || 'Date of Employment'}}</span>
            <div class="cell-value-wrapper">
                <span [class.highlighted-cell]="cells?.firstDate?.highlighted"
                      [ngClass]="cells?.firstDate?.highlightColor | lowercase">
                    {{cells?.firstDate?.value}}
                </span>
            </div>
        </td>
        <td class="position">
            <span class="cell-header">{{cells?.position?.customTitle || 'Position / Title / Type of Business'}}</span>
            <div class="cell-value-wrapper">
                <span [class.highlighted-cell]="cells?.position?.highlighted"
                      [ngClass]="cells?.position?.highlightColor | lowercase">
                    {{cells?.position?.value}}
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="second-date">
            <span class="cell-header">{{cells?.secondDate?.customTitle || 'Yrs. on this job'}}</span>
            <div class="cell-value-wrapper">
                <span [class.highlighted-cell]="cells?.secondDate?.highlighted"
                      [ngClass]="cells?.secondDate?.highlightColor | lowercase">
                    {{cells?.secondDate?.value}}
                </span>
            </div>
        </td>
        <ng-container *ngIf="cells?.yrsEmployedInProfession?.value == null; else yrsEmployedInProfession">
          <td class="phone">
            <span class="cell-header">{{cells?.phone?.customTitle || 'Business Phone (incl. area code)'}}</span>
            <div class="cell-value-wrapper">
              <span>{{cells?.phone?.value}}</span>
            </div>
          </td>
        </ng-container>
    </tr>
    </tbody>
</table>

<ng-template #yrsEmployedInProfession>
  <td class="yrsEmployedInProfession">
    <span class="cell-header">
      {{cells?.yrsEmployedInProfession?.customTitle || 'Yrs. employed in this line of work/profession'}}
    </span>
    <div class="cell-value-wrapper">
      <span *ngIf="cells?.yrsEmployedInProfession?.value"
            [class.highlighted-cell]="cells?.yrsEmployedInProfession?.highlighted"
            [ngClass]="cells?.yrsEmployedInProfession?.highlightColor | lowercase">
      {{cells?.yrsEmployedInProfession?.value}}
      </span>
    </div>
  </td>
</ng-template>
