<div class="card">
  <div class="box row">
    <div class="additional-content">
      <ng-content select="[additional-content]"></ng-content>
    </div>
  </div>

  <div class="snippet-section">
    <ng-container *ngIf="!isUrla() else urlaDocName">
      <div class="row doc-name">
        <ng-content select="[info]"></ng-content>
        <mat-icon *ngIf="snippetUrl" class="popout-icon" svgIcon="popout" (click)="loadDoc()"></mat-icon>
        <span>{{documentType | docName | hyphen}}</span>
      </div>
    </ng-container>
    <chk-snippet *ngIf="!isUrla()" [snippetUrl]="snippetUrl" (loaded)="snippetLoaded()"></chk-snippet>
    <chk-dynamic-snippet *ngIf="isUrla()"
                         [titlePrefix]="dynamicSnippetTitlePrefix"
                         [cells]="dynamicSnippetCellsData"></chk-dynamic-snippet>
  </div>
</div>

<ng-template #urlaDocName>
  <div class="row doc-name">
    Digital Loan Application
  </div>
</ng-template>
