@import "abstracts/variables";

:host {
  opacity: 0.8;
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(4, 31, 61, 0.03), 0 3px 4px 0 rgba(4, 31, 61, 0.08);
  height: 100%;
}

:host(.focused), :host:hover {
  box-shadow: 0 0 4px 0 rgba(4, 31, 61, 0.03), 0 5px 8px 0 rgba(4, 31, 61, 0.08);
  opacity: 1;
}

.card {
  padding: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.row {
  display: flex;
}

.box {
  width: 100%;
  color: #02152C;
  font-size: 14px;
  padding-bottom: 8px;
  align-items: baseline;
}

.snippet-section {
  position: relative;
  width: 100%;
  height: 100%;
}

.doc-name {
  color: #8F97A1;
  position: absolute;
  right: 0;
  padding: 1px 0 7px 8px;
  background: white;
  border-bottom-left-radius: 2px;
  border-top: 1px solid white; // IE11
  border-bottom: 1px solid #DBDEE0;
  border-left: 1px solid #DBDEE0;
  font-size: 12px;
}

.additional-content {
  flex: 1;
}

.popout-icon {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  cursor: pointer;
}

chk-dynamic-snippet {
  width: 100%;
}
