<div class="credit-rank">
  <div class="credit-score-data">
    <div class="component-header credit-score">
      credit score
    </div>
    <app-score-badge id="qualifying-score" [score]="qualifyingScore"
                     [rank]="rank"></app-score-badge>
  </div>
  <div class="dti-data">
    <div class="component-header">
      overall dti
    </div>
    <div class="score">
      <div class="score-badge">
        <span class="score-value">{{dti?.overallDti | number : '1.2-2'}}<span class="percent">%</span></span>
      </div>
    </div>
  </div>
</div>
