.credit-rank {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  margin: 24px 16px 0;
}

.dti-data {
  text-align: right;
}

.score-value {
  display: flex;
}

.score {
  color: rgba(2, 21, 44, .88);
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  display: flex;
}

.score-badge {
  display: flex;
  align-items: center;
}

.percent {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 1px 6px 0;
}

.component-header {
  font-size: 12px;
  padding-right: 8px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(11, 28, 43, .4);
  padding-bottom: 10px;
}
