<div class="main">
  <section chkScrollHover class="documents-container scroll-vert toggle-scroll">
    <div *ngIf="isCNAView else basicDataValidationView" class="employment-document">
      <app-doc-header class="doc-header" [customTitle]="'FHA Case Number Assignment'"></app-doc-header>
      <div class="qa-card wrapper"
           *ngIf="!hasMissingDoc(ruleData.data.loanTypeDetails.dataValidation) else missingDocCNA">
        <chk-document-card *ngFor="let group of ruleData.data.loanTypeDetails.groups | keyvalue"
                           class="document-card"
                           [documentId]="group.value.first.documentId"
                           [documentType]="group.value.first.docType"
                           [snippetUrl]="group.value.first.snippetUrl"
                           [class.failed]="isRuleNotPassing && group.value.first.borderValue && group.value.first.status !== 'VALID'">
          <chk-validation-info [dataValidation]="group.value.data" [ignoreReferenceValue]="showNotPresentText" additional-content>
          </chk-validation-info>
          <ng-container info>
            <div class="row date-info" *ngIf="group.value.first.borderValue">
              {{hasBorderValueDateExpired(group.value.first.borderValue) ? 'Expired' : 'Expires'}} {{group.value.first.borderValue | toDate:'M/dd/yy'}}
            </div>
          </ng-container>
        </chk-document-card>
      </div>

      <ng-template #missingDocCNA>
        <div class="not-document">
          Missing {{getMissingDocTypes(ruleData.data.loanTypeDetails.dataValidation)}} Document
        </div>
      </ng-template>

    </div>
    <ng-template #basicDataValidationView>
      <div *ngFor="let employerData of ruleData?.data?.employmentDetails; trackBy: trackByIndex"
           class="employment-document">
        <app-doc-header class="doc-header" [employer]="employerData"></app-doc-header>

        <ng-container *ngIf="!hasMissingDoc(employerData.dataValidation) else missingDoc">
          <ng-container *ngFor="let group of employerData.groups | keyvalue: documentGroupsOrder">
            <div class="qa-card wrapper">
              <chk-document-card class="document-card"
                                 [documentId]="group.value.first.documentId"
                                 [documentType]="group.value.first.docType"
                                 [snippetUrl]="group.value.first.snippetUrl"
                                 [class.failed]="isRuleNotPassing && group.value.first.borderValue && group.value.first.status !== 'VALID'">
                <chk-validation-info additional-content
                                     [useTable]="isNewView"
                                     [dataValidation]="group.value.data">
                </chk-validation-info>
                <ng-container info>
                  <div class="row date-info" *ngIf="group.value.first.borderValue">
                    {{hasBorderValueDateExpired(group.value.first.borderValue) ? 'Expired' : 'Expires'}} {{group.value.first.borderValue | toDate:'M/dd/yy'}}
                  </div>
                  <div class="row not-evaluated"
                       *ngIf="isOldViewNotEvaluated(group.value.first) || isNewViewNotEvaluated(group.value.data) ">
                    Not evaluated
                  </div>
                </ng-container>
              </chk-document-card>
            </div>
          </ng-container>
        </ng-container>

        <ng-template #missingDoc>
          <div class="not-document">
            Missing {{getMissingDocTypes(employerData.dataValidation)}} Document
          </div>
        </ng-template>

        <chk-no-docs-found class="wrapper" [dataValidation]="employerData?.dataValidation"></chk-no-docs-found>
      </div>
    </ng-template>
  </section>

</div>

