:host {
  background: #F7F7F8;
  height: 100%;
  overflow: hidden;
}

.documents-container {
  background: #F7F7F8;
}

.doc-header {
  margin-left: 8px;
}

.not-document {
  color: #E72642;
  background: rgba(231, 38, 66, .2);
  border: 2px solid #E72642;
  height: 150px;
  max-width: 850px;
  width: 100%;
  display: flex;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 2px;
  margin: 8px 0 24px 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  justify-content: center;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;

  &.focused, &:hover {
    opacity: 1;
    box-shadow: 0 0 4px 0 rgba(4, 31, 61, 0.03), 0 5px 8px 0 rgba(4, 31, 61, 0.08);
  }
}
