<div class="credit-score-content">
  <div class="providers-edit">
    <div class="provider-element" [class.active]="creditScore.name === providerNameEdited"
         [class.disabled]="creditScore.score === 'None'"
         *ngFor="let creditScore of creditScores">
      <mat-radio-group [(ngModel)]="providerNameEdited">

        <mat-radio-button [disabled]="creditScore.score === 'None'" [checked]="creditScore.name === providerNameEdited" [value]="creditScore.name"
                          class="radio-button">
          <div class="provider">
            <div class="image" [class.active]="creditScore.name === providerNameEdited">
              <img class="{{creditScore.name}}" [src]="creditScore.img"/>
            </div>
            <div class="score" [class.active]="creditScore.name === providerNameEdited">
              <div class="text">{{creditScore.score}}</div>
            </div>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="date">last report run on {{applicant.creditReportOrderedDate | formatDateMMDDYYYY}}
    10:31 AM
  </div>
  <div class="footer">
    <div class="ico"></div>
    <div class="btn">
      <button id="cancel-credit-score-btn" class="app-button btn-bg-gray-text-black" (click)="cancel()" mat-button>Cancel</button>
      <button id="save-credit-score-btn" [disabled]="!providerNameEdited" class="app-button btn-bg-blue-text-white" (click)="save()" mat-button>
        Save Credit Score
      </button>
    </div>
  </div>
</div>
