<div class="left-site">
  <app-credit-rank [dti]="dti" [rank]="rank" [qualifyingScore]="qualifyingScore"></app-credit-rank>
    <div class="applicants" *ngIf="!showChecklist">
    <div class="applicants__label">Applicants ({{applicantsCount}})</div>
    <div class="applicants__list" *ngIf="applicants">
      <app-applicant [applicant]="applicant" [folderId]="folderId" *ngFor="let applicant of applicants; trackBy: trackByApplicant"></app-applicant>
    </div>
  </div>
  <app-rules [applicants]="applicantsRules" *ngIf="showChecklist"></app-rules>
</div>
