
.applicants {
  margin: 0 16px;

  &__label {
    font-size: 20px;
    color: rgba(11, 28, 43, .8);
    font-weight: 500;
  }

  &__list {
    padding: 10px 0;
  }

  .applicant {
    padding: 8px 0 4px;
    font-size: 14px;

    &-story {
      font-size: 12px;
      color: #ACB1B7;
    }
  }
}

.story {
  padding: 3px 0 0 24px;
}

