<ng-container *ngIf="statusFilter$ | async as statusFilter">
  <ng-container *ngIf="statusFilter === StatusFilter.Waived">There are no waived rules</ng-container>
  <ng-container *ngIf="statusFilter === StatusFilter.Failed">There are no failed rules</ng-container>
</ng-container>
