<div class="card dti-component">
  <div class="card-header" id="dti-header">
    <div class="left-side">
      <div class="card-title">DTI</div>
      <div [class]="tooHigh" id="dti-score"><span>{{dti | number : '1.2-2'}}</span><span class="percent">%</span></div>
    </div>
    <div class="right-side">
      <div class="right-side">
        <span [class]="overall"><button (click)="loadDtiOverall(true)" mat-button class="app-button btn-bg-gray-text-black small" id="overall-btn">overall</button></span>
        <span [class]="frontend"><button (click)="loadDtiOverall(false)" mat-button class="app-button btn-bg-gray-text-black small" id="frontend-btn">front-end</button></span>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="dti-container" id="dti-container">
      <div class="applicant-dti {{applicant.included ? '' : 'applicant-disabled'}}" *ngFor="let applicant of dtiSummary.applicants; let i = index">
        <div class="applicant-name" id="dti-applicant-{{i}}-name">{{applicant.firstName | titlecase}} {{applicant.lastName | felonize}}</div>
        <div class="bar-container">
          <div *ngIf="scores[i] > 0" id="dti-applicant-{{i}}-bar" class="bar" [style.width.%]="calculateProgress(applicant)"></div>
          <div *ngIf="scores[i] === 0" class="dot"></div>
          <div class="applicant-score" id="dti-applicant-{{i}}-score">{{scores[i] | number : '1.2-2'}}%</div>
        </div>
      </div>
    </div>
  <app-progress-spinner id="dti-progress-spinner" *ngIf="isLoading"></app-progress-spinner>
  </div>
</div>
