@import "scss/common";

.bureau-score {
  display: inline-block;
  width: 20%;
  text-align: right;
  vertical-align: super;
}

.right-side {
  display: flex;

  span {
    &:first-child {
      .app-button {
        border-radius: 2px 0 0 2px;
      }
    }

    &:last-child {
      .app-button {
        border-radius: 0 2px 2px 0;
      }
    }
  }
}

.dti-component {
  position: relative;
  margin-top: $padding-default;
}

.dti-score {
  color: rgba(2, 21, 44, 0.88);
  font-size: 30px;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  height: 40px;

  //&.red {
  //  color: #e72642;
  //}
}


.dot {
  background-color: rgb(161, 179, 206);
  width: 12px;
  height: 12px;
  border-radius: 20px;
}

.percent {
  font-size: 16px;
  line-height: 24px;
  margin: 0 4px;
  font-weight: 500;
}

.score {
  line-height: 30px;
}


.dti-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 32px 0 0 0;
}

.app-button {
  &.small {
    margin-left: 2px !important;
    letter-spacing: 0.3px;
    width: 88px;
    height: 24px;
    padding: 0;
    margin-right: 0;
  }
}

.rank {
  padding: 14px 0 0;
}


.applicant-name {
  display: flex;
  align-items: center;
  font-weight: 500;
  text-align: left;
  width: 7em;
  opacity: 0.88;
  color: #02152C;
  font-size: 12px;
  line-height: 16px;
}

.applicant-dti {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  height: 16px;

  &.applicant-disabled {
    opacity: 0.4;
  }

  &:last-child {
    margin-bottom: 0;
  }

}

.bar {
  height: 12px;
  border-radius: 8px;
  background: linear-gradient(135deg, #2FD8F1 0%, #0B6CE0 100%);
  animation: bar-fill 2s;
  width: 100%;

}

.bar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

.applicant-score {
  opacity: 0.88;
  color: #02152C;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  text-align: right;
  width: 5em;
}


@keyframes bar-fill {
  0% {
    width: 0;
  }
}
