<mat-accordion class="rules-list"
               displayMode="flat"
               [multi]="true">
  <ng-container *ngIf="applicants?.length > 0 else noApplicants">
    <mat-expansion-panel *ngFor="let applicant of applicants; let applicantIndex=index; trackBy: trackByApplicantId"
                         [expanded]="true"
                         id="borrower_{{applicantIndex}}">
      <mat-expansion-panel-header expandedHeight="32px" collapsedHeight="32px" [class.disabled]="noRules">
        <mat-panel-title class="borrower-name">
          {{applicant.fullName | uppercase}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="rules">
        <ng-container *ngFor="let rule of applicant.rules; trackBy: trackByRuleId">
          <app-rule [rule]="rule"
                    [attr.scroll-id]="'rule_'+rule?.id?.toString()"
                    id="borrower_{{getFirstName(applicant)}}_rule_{{rule?.ruleId | lowercase }}">
          </app-rule>
        </ng-container>
      </div>

    </mat-expansion-panel>
  </ng-container>


  <ng-template #noApplicants>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header expandedHeight="32px" collapsedHeight="32px">
        <mat-panel-title>
          <div class="no-borrower"></div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="rules">
        <ng-container *ngFor="let rule of [1,2,3,4,5,6,7,8,9,10]">
          <app-rule></app-rule>
        </ng-container>
      </div>

    </mat-expansion-panel>
  </ng-template>
</mat-accordion>

<div class="no-rules" *ngIf="noRules">
  No rules to show
</div>
