@import "node_modules/@angular/material/theming";

@include mat-core;

$cl-primary: mat-palette($mat-blue);
$cl-accent: mat-palette($mat-blue, 900);
$cl-warn: mat-palette($mat-red, 500);

$cl-theme: mat-light-theme($cl-primary, $cl-accent, $cl-warn);

@include mat-sidenav-theme($cl-theme);
@include mat-checkbox-theme($cl-theme);
@include mat-expansion-panel-theme($cl-theme);
@include mat-icon-theme($cl-theme);
@include mat-button-theme($cl-theme);
@include mat-input-theme($cl-theme);
@include mat-form-field-theme($cl-theme);
@include mat-tooltip-theme($cl-theme);
