@import "abstracts/variables";
@import "abstracts/mixins/scroll";
@import "abstracts/mixins/ie-support";

.timeline-wrapper {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;

  .calendar {
    display: flex;
    flex-direction: column;
  }

  .calendar-row {
    display: flex;
    width: auto;
  }

  .years {
    position: relative;
    overflow: hidden;
  }

  .year, .month, .employment {
    display: inline-block;
  }

  .year {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;

    &:first-child {
      margin-left: 8px;
    }
  }

  .month {
    color: $black40;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    padding: 8px 0;
    box-sizing: border-box;


    &.reversed {
      &.dec {
        border-right: 2px dotted rgba(2, 21, 44, 0.14);
      }
    }

    &.not-reversed {
      &.jan {
        border-right: 2px dotted rgba(2, 21, 44, 0.14);
      }
    }
  }
}

.reverse-btn-wrapper {
  align-self: flex-end;
}

.reverse-btn {
  display: inline-block;
  padding: 12px;
  border-radius: 50%;
  margin-bottom: -6px;
  cursor: pointer;

  .mat-icon {
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: #F7F7F8;
  }
}

chk-tl-employment:nth-child(odd) {
  ::ng-deep {
    .employment-base {
      background-color: #F7F8FC;
    }
  }
}

chk-tl-employment:nth-child(even) {
  ::ng-deep {
    .employment-base {
      background-color: #F0F2F9;
    }
  }
}

.employments-layer {
  position: relative;
  flex-direction: column;
  @include ie-padding-bot(12px);

  &:not(.lot-employments) {
    margin-bottom: 12px;
    @include ie-no-bottom-margin;
  }

  &.section-hover {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    @include ie-padding-bot(4px);

    &:not(.lot-employments) {
      margin-bottom: 4px;
      @include ie-no-bottom-margin;
    }

    &.lot-employments {
      margin-bottom: 0;
      @include scroll-padding-ms-browser(bottom);
    }
  }

  @include scroll-padding-ms-browser(bottom);

  chk-tl-employment + chk-tl-employment ::ng-deep {
    .employment-area {
      margin-top: 1px;
    }
  }
}

.employments-layer.lot-employments {
  chk-tl-employment:last-child {
    padding-bottom: 12px;
    @include scroll-padding-ms-browser(bottom);
  }
}

.employments-layer.section-hover.lot-employments {
  chk-tl-employment:last-child {
    padding-bottom: 4px;
    @include scroll-padding-ms-browser(bottom)
  }
}

.flex-row {
  display: flex;
}

.table-header {
  overflow-y: hidden;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    max-height: 212px;
    padding-bottom: 17px;
  }

  @supports (-ms-accelerator:true) {
    max-height: 212px;
    padding-bottom: 17px;
  }

  @supports (-ms-ime-align:auto) {
    max-height: 212px;
    padding-bottom: 17px;
  }
}

.empty-rect {
  display: flex;
  justify-content: flex-end;
  height: 62px;
}

.employments-names {
  display: flex;
  flex-direction: column;
  min-width: 188px;
  width: 188px;
}

.marks-layer {
  display: flex;
  width: auto;
  height: 100%;
  position: absolute;
  left: 0;
}

.current-date, .loan-date, .rule-marker {
  position: absolute;
  height: 28px;
}

.reversed {
  .current-date, .loan-date, .rule-marker {
    margin-left: 1px;
  }
}

.current-date {
  top: 34px;
  box-sizing: border-box;
  width: 1px;
  background-color: #0B6CE0;

  &:before {
    content: "";
    position: absolute;
    top: -9px;
    left: -8px;
    z-index: 100;
    height: 18px;
    width: 18px;
    background: radial-gradient(circle closest-side, #0B6CE0 0%, rgba(255, 255, 255, 0) 65%);
    box-sizing: border-box;
    border-radius: 9px;
  }

  &:after {
    content: "";
    position: absolute;
    top: -3px;
    left: -2px;
    z-index: 100;
    height: 6px;
    width: 6px;
    background-color: #0B6CE0;
    box-sizing: border-box;
    border-radius: 6px;
  }
}

.loan-date {
  top: 38px;
  box-sizing: border-box;
  width: 1px;
  background-color: rgba(2, 21, 44, 0.41);

  &:before {
    content: url(../../../../../assets/icons/crosshair.svg);
    position: absolute;
    top: -13px;
    left: -6px;
    opacity: 0.64;
    z-index: 100;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
  }
}

.rule-marker {
  top: 34px;
  box-sizing: border-box;
  width: 1px;
  border-right: 2px dashed #647AE4;
}

.reversed {
  ::ng-deep {
    .employment-base-cell {
      &.jan {
        border-right: 2px dotted rgba(2, 21, 44, 0.04);
      }

      &.dec {
        border-right: 2px dotted rgba(2, 21, 44, 0.14);
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .year:first-child {
    margin-left: 0;
  }

  .month {
    &:last-child {
      &.jan {
        border-right: none;
      }
    }
  }
}

.mark-labels-layer {
  position: relative;
  height: 20px
}

.cna-container {
  margin-bottom: 20px;

  .cna-label {
    border-radius: 2px;
    background-color: #F3F3F4;
    color: rgba(#0B1C2B, .64);
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    padding: 2px 6px;
    margin: 8px 0 8px 24px;
    cursor: pointer;
  }
}
