<div class="flex-row">
  <div class="employments-names">
    <div class="empty-rect">
      <div class="reverse-btn-wrapper">
        <span (click)="onReverse()" class="reverse-btn icon-reverse">
          <mat-icon [svgIcon]='"reverse"'></mat-icon>
        </span>
      </div>
    </div>
    <div #tableHeader class="table-header"
         [style.max-height.px]="employmentsLayerHeightHeader">
      <chk-tl-row-header *ngFor="let employment of employments"
                         [employment]="employment"
                         (click)="onItemClick(employment)"
                         [style.height.px]="rowHeight*3+4"></chk-tl-row-header>
      <ng-container *ngIf="employments.length === 0">
        <chk-tl-row-header *ngFor="let gap of gaps"
                           [employment]="gap"
                           (click)="onItemClick(gap)"
                           [style.height.px]="rowHeight*3+4"></chk-tl-row-header>
      </ng-container>
      <div class="cna-container">
        <span *ngIf="timelineMarkers" class="cna-label" (click)="scrollToCNADoc()">
        FHA Case Number Assignment
        </span>
      </div>
    </div>
  </div>
  <div class="timeline-wrapper" #timeline>
    <div *ngIf="employments" class="calendar" [class.reversed]="isReversed">
      <div #yearsHeader class="calendar-row years" [style.margin-right.px]="scrollWidth">
        <div *ngFor="let yearData of yearsData; last as isLast;" class="year"
             [style.min-width.px]="yearData.months.length*monthWidth">
          <span class="year-num">{{yearData.year}}</span>
          <div class="calendar-row months">
            <div *ngFor="let month of yearData.months"
                 class="month"
                 [class.reversed]="isReversed"
                 [class.not-reversed]="!isReversed"
                 [ngClass]="month.toLowerCase()"
                 [style.min-width.px]="monthWidth">{{month}}
            </div>
            <div *ngIf="isLast" [style.min-width.px]="scrollWidth+24">
            </div>
          </div>
        </div>

        <div class="marks-layer">
          <chk-tl-mark class="current-date"
                       [options]="{date: currentDate, isReversed: isReversed, settings: drawOptions}"></chk-tl-mark>
          <chk-tl-mark class="loan-date"
                       [options]="{date: referenceDate, isReversed: isReversed, settings: drawOptions}"></chk-tl-mark>
          <chk-tl-mark *ngFor="let timelineMarker of timelineMarkers" class="rule-marker"
                       [options]="{date: timelineMarker.markerPosition, isReversed: isReversed, settings: drawOptions}"></chk-tl-mark>
        </div>
      </div>
      <div #employmentsLayer class="calendar-row employments-layer scroll-horiz scroll-vert"
           chkScrollHover
           [class.lot-employments]="employments.length>3"
           (wheel)="onScroll($event)"
           (scroll)="onCalendarScroll($event)"
           [style.max-height.px]="employmentsLayerHeight">
        <chk-tl-area-text *ngFor="let gap of INC1100Gaps"
                          [isReversed]="isReversed"
                          [settings]="drawOptions"
                          [employment]="gap">
          {{monthGap(gap)}}
        </chk-tl-area-text>
        <ng-container *ngFor="let employment of employments">
          <chk-tl-employment *ngIf="employments && drawOptions"
                             [options]="{
                             employment: employment,
                             currentDate: currentDate,
                             loanDate: referenceDate,
                             gaps: gaps,
                             isReversed: isReversed,
                             settings: drawOptions,
                             timelineMarkers: timelineMarkers
                             }"
          ></chk-tl-employment>
        </ng-container>
        <ng-container *ngIf="employments.length===0 && drawOptions">
          <chk-tl-employment *ngFor="let gap of gaps"
                             [options]="{
                             employment: gap,
                             currentDate: currentDate,
                             loanDate: referenceDate,
                             gaps: gaps,
                             isReversed: isReversed,
                             settings: drawOptions,
                             timelineMarkers: timelineMarkers
                             }"></chk-tl-employment>
        </ng-container>
        <div *ngIf="timelineMarkers" class="mark-labels-layer">
          <chk-tl-mark-label
            [isReversed]="isReversed"
            [settings]="drawOptions"
            [timelineMarkers]="timelineMarkers"></chk-tl-mark-label>
        </div>
      </div>
    </div>
  </div>
</div>
