<section class="app-loading">
  <svg class="spinner" width="174px" height="174px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="transparent" stroke-width="2" cx="33" cy="33" r="30" stroke="url(#gradient)"/>
    <linearGradient id="gradient">
      <stop offset="50%" stop-color="#ddd" stop-opacity="1"/>
      <stop offset="65%" stop-color="#ddd" stop-opacity=".5"/>
      <stop offset="100%" stop-color="#ddd" stop-opacity="0"/>
    </linearGradient>
  </svg>
</section>
