<app-review-public-record *ngIf="!editMode" [publicRecord]="publicRecord"
                           (editMode)="editMode = $event"></app-review-public-record>
<app-edit-public-record [applicantId]="applicantId" *ngIf="editMode" [publicRecord]="publicRecord"
                         (editMode)="editMode = $event"></app-edit-public-record>
