.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 16px 16px 16px;
  border-top: 1px solid rgb(243,243,244);
  padding-top: 16px;

  .edit-btn {
    color: rgb(11,108,224);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 16px;
    text-align: center;
    background-color: rgb(243,243,244);
    padding: 0.5em 0.8em;
    text-transform: uppercase;
    border-radius: 3px;
    height: 3em;

    &.blue {
      background-color: rgb(11,108,224);
      color: rgb(255,255,255);
    }
  }

  .comments {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .edit-btn[disabled] {
    opacity: .5;
  }
}

