<app-liability-section [title]="he?.type" class="housing-expenses">
  <app-detail-line>
    <ng-container name>Rent</ng-container>
    <ng-container value>
      <app-input *ngIf="he.type !== 'Proposed'" [value]="he.rent"
                 (changeValue)="he.rent = $event; change()"
                 [mask]="mask" [prefix]="true"></app-input>

      <div *ngIf="he.type === 'Proposed'" class="dash">--</div>
    </ng-container>
  </app-detail-line>

  <app-detail-line>
    <ng-container name>First Mortgage (P&I)</ng-container>
    <ng-container value>
      <app-input [value]="he.firstMortgage" (changeValue)="he.firstMortgage = $event; change()"
                 [mask]="mask"
                 [prefix]="true"></app-input>
    </ng-container>
  </app-detail-line>

  <app-detail-line>
    <ng-container name>Other Financing (P&I)</ng-container>
    <ng-container value>
      <app-input [value]="he.otherFinancing" (changeValue)="he.otherFinancing = $event; change()"
                 [mask]="mask"
                 [prefix]="true"></app-input>
    </ng-container>
  </app-detail-line>

  <app-detail-line>
    <ng-container name>Hazard Insurance</ng-container>
    <ng-container value>
      <app-input [value]="he.hazardInsurance" (changeValue)="he.hazardInsurance = $event; change()"
                 [mask]="mask"
                 [prefix]="true"></app-input>
    </ng-container>
  </app-detail-line>

  <app-detail-line>
    <ng-container name>Real Estate Taxes</ng-container>
    <ng-container value>
      <app-input [value]="he.realEstateTaxes" (changeValue)="he.realEstateTaxes = $event; change()"
                 [mask]="mask"
                 [prefix]="true"></app-input>
    </ng-container>
  </app-detail-line>

  <app-detail-line>
    <ng-container name>Mortgage Insurance</ng-container>
    <ng-container value>
      <app-input [value]="he.mortgageInsurance"
                 (changeValue)="he.mortgageInsurance = $event; change()"
                 [mask]="mask" [prefix]="true"></app-input>
    </ng-container>
  </app-detail-line>

  <app-detail-line>
    <ng-container name>Homeowner Assn. Dues</ng-container>
    <ng-container value>
      <app-input [value]="he.homeownersAssociationDues"
                 (changeValue)="he.homeownersAssociationDues = $event"
                 [mask]="mask" [prefix]="true"></app-input>
    </ng-container>
  </app-detail-line>

  <app-detail-line>
    <ng-container name>Other</ng-container>
    <ng-container value>
      <app-input [value]="he.other" (changeValue)="he.other = $event" [mask]="mask"
                 [prefix]="true"></app-input>
    </ng-container>
  </app-detail-line>
</app-liability-section>
<app-housing-application [applicantName]="applicantName"></app-housing-application>
