<div>
  <app-detail [liability]="detailLiability" *ngIf="!editMode" (editMode)="editMode = $event" [category]="category"></app-detail>
  <app-edit-detail *ngIf="editMode" [liability]="detailLiability" (editMode)="editMode = $event" [category]="category"></app-edit-detail>
</div>

