<div class="doc-name"
     [matTooltip]="document.type | docName:isMissing ? 'MISSING' : 'TL'"
     [matTooltipDisabled]="!shouldShowTooltip"
     [class.text-center]="isPs"
     matTooltipPosition="above" #docName>
  {{document.type | docName:isMissing ? 'MISSING' : 'TL'}}
</div>
<div class="doc-overlay" [style.width.px]="overlayWidth" #docOverlay></div>
