@import "abstracts/variables";

:host.reversed .doc-name {
  text-align: right;
}

.doc-name {
  padding-left: 8px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.text-center {
  padding: 0;
  text-align: center;
}

.doc-overlay {
  position: absolute;
  top: 2px;
  height: calc(100% - 4px); // 2px top and bottom border
  background: repeating-linear-gradient(-70deg, #f392a0, #f392a0 10px, rgba(#fff, .44) 10px, rgba(#fff, .44) 15px);

  &:before {
    content: "";
    background: #f392a0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
}
