@import "abstracts/variables";

:host {
  background-color: #FFFFFF;
  overflow: hidden;
  height: 100%;
}

.documents-container {
  background: #F7F7F8;
}

.divider {
  height: 8px;
  width: 100%;
  color: #F7F7F8;
  background-color: #F7F7F8;
}

.no-employments-msg {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

