<div class="main">
  <chk-timeline *ngIf="rulesData && rulesData.length !== 0"
                [ngClass]="ruleCode"
                [referenceDate]="referenceDate"
                [ruleStatus]="ruleStatus"
                [employments]="rulesData"
                [ruleCode]="ruleCode"
                [timelineMarkers]="loanTypeDetails?.timelineMarkers"></chk-timeline>
  <div *ngIf="rulesData?.length === 0" class="no-employments-msg">No jobs were found on the Application</div>
  <div class="divider">.</div>
  <chk-documents-container chkScrollHover class="documents-container scroll-vert toggle-scroll" id="evidence-container"
                           [ngClass]="ruleCode"
                           [borrowerName]="borrowerName"
                           [rulesData]="rulesData"
                           [ruleCode]="ruleCode"
                           [loanTypeDetails]="loanTypeDetails">
  </chk-documents-container>
</div>
