<div class="app-content">
  <div class="app-col">
    <app-credit-score id="credit-score-component" [applicants]="application.applicants"
                      [qualifyingScore]="application.qualifyingScore" [rank]="application.rank"></app-credit-score>
    <app-total-debt [liabilitiesSummary]="application.liabilitiesSummary"
                    [applicants]="application.applicants"></app-total-debt>
  </div>
  <div class="app-col">
    <app-total-lates [folderId]="application.folderId" [latesSummary]="application.latesSummary"></app-total-lates>
    <app-dti-component id="dti-component" [application]="application"></app-dti-component>
  </div>
</div>
