.tag{
  padding: 0 4px;
  margin: 0 2px;
  color: white;
  background-color: grey;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize !important;
  &.equifax{
    background-color: #841B2A;
  }
  &.transUnion{
    background-color: #04A6CB;
  }
  &.experian{
    background-color: #26478D;
  }
  &.open{
    background-color: #42CA72;
  }
  &.latePayments{
    background-color: #344A62;
  }
  &.delinquent{
    background-color: #F3B457;
  }
  &.collections{
    background-color: #DB0932;
  }
  &.bankruptcy{
    background-color: #991313;
  }
  &.foreclosure{
    background-color: #5e0c0c;
  }
  &.old-housing-expenses{
    background-color: #868F9A;
    font-weight: 400;
    padding: 2px 4px;
  }
  &.expires{
    background-color: #42CA72;
    padding: 2px 4px;
    font-weight: 400;
  }
  &.expired{
    background-color: #E72642;
    padding: 2px 4px;
    font-weight: 400;
  }
}
