<mat-form-field *ngIf="prefix" class="input" appearance="fill">
    <span [class.empty]="!value" matPrefix>$</span>
    <input (ngModelChange)="change($event)" [maxLength]="15" [disabled]="disabled" [textMask]="{mask: mask}" matInput [(ngModel)]="value"/>
</mat-form-field>
<mat-form-field *ngIf="!prefix" class="input" appearance="fill">
    <input (ngModelChange)="change($event)" [maxLength]="15" [disabled]="disabled" matInput [(ngModel)]="value"/>
</mat-form-field>