@import "abstracts/variables";

.main {
  margin-top: 16px;
}

.card {
  padding: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 850px;
  opacity: 0.8;
}

.document-card {
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(4, 31, 61, 0.03), 0 3px 4px 0 rgba(4, 31, 61, 0.08);

  &:hover {
    box-shadow: 0 0 4px 0 rgba(4, 31, 61, 0.03), 0 5px 8px 0 rgba(4, 31, 61, 0.08);
    opacity: 1;
  }
}

.box {
  width: 100%;
  color: #02152C;
  font-size: 14px;
  padding-bottom: 8px;
  display: flex;
  align-items: baseline;
}

.additional-content {
  flex: 1;
}

.link-container {
  display: flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  border: 1px solid rgba(4, 31, 61, 0.08);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 143px;
  width: 100%;
  color: rgba(2, 21, 44, 0.48);
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;

  &:hover {
    color: #0B6CE0;
    background-color: #F3F8FE;
  }
}

