<div class="main">
  <section chkScrollHover class="documents-container scroll-vert toggle-scroll">
    <div class="employment-document">
      <div class="qa-card wrapper">
        <div class="document-card">
          <div class="card">
            <div class="box">
              <div class="additional-content">
                <chk-validation-info [dataValidation]="ruleData?.data?.validationItems">
                </chk-validation-info>
              </div>
            </div>
            <div class="link-container">
              <a class="link" target="_blank" [href]="incomeUrl">
                {{linkText}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
