<div *ngIf="!useTable else table" class="data">
  <ng-container *ngIf="reference">
    <chk-tag>
      <span class="property-name">{{reference.referenceFieldName}}:</span>
      <span class="value">
    <chk-validation-field [value]="reference?.referenceValue" [type]="reference?.fieldType"></chk-validation-field>
  </span>
    </chk-tag>
  </ng-container>
  <ng-container *ngFor="let data of dataValidation">
    <chk-tag [class.passed]="isValid(data.status)"
             [class.failed]="isExpired(data.status) || isInvalid(data.status) || isMissing(data.status)"
             [class.not-evaluated]="isNotEvaluated(data.status)">
      <span class="property-name">{{data?.fieldName}}:</span>
      <span class="value">
        <chk-validation-field
          [class.failed]="isExpired(data.status) || isInvalid(data.status) || isMissing(data.status)"
          [value]="data?.fieldValue" [type]="data?.fieldType"></chk-validation-field>
      </span>
    </chk-tag>
  </ng-container>
</div>
<ng-template #table>
  <table>
    <tbody>
    <tr *ngFor="let row of tableData">
      <ng-container *ngFor="let cell of row">
        <td>
          <chk-tag [class.passed]="isValid(cell.status)"
                   [class.failed]="isExpired(cell.status) || isInvalid(cell.status) || isMissing(cell.status)"
                   [class.not-evaluated]="isNotEvaluated(cell.status)">
            <span class="property-name">{{cell?.fieldName}}:</span>
            <span class="value">
        <chk-validation-field
          [class.failed]="isExpired(cell.status) || isInvalid(cell.status) || isMissing(cell.status)"
          [value]="cell?.fieldValue" [type]="cell?.fieldType">
        </chk-validation-field>
      </span>
          </chk-tag>
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</ng-template>

