:host {
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
}

.data {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  flex-wrap: wrap;
}

.property-name {
  font-weight: 400;
  color: rgba(#02152C, 0.88);
}

.value {
  color: rgba(#02152C, 0.88);
  font-weight: 500;
}

.failed {
  color: #E72642;
}

chk-tag {
  margin-bottom: 8px;
}

table {
  width: 100%;
  font-size: 12px;
  border-spacing: 1px;
  margin-bottom: 8px;

  td:not(:last-of-type) {
    border-right: 4px solid transparent;
  }

  ::ng-deep .tag {
    width: 100%;
    padding: 4px 0 4px 4px;
    border-radius: 0;
    text-align: left;
    letter-spacing: normal;
  }

  tr:first-of-type {
    td:first-of-type ::ng-deep .tag {
      border-top-left-radius: 2px;
    }

    td:last-of-type ::ng-deep .tag {
      border-top-right-radius: 2px;
    }
  }

  tr:last-of-type {
    td:first-of-type ::ng-deep .tag {
      border-bottom-left-radius: 2px;
    }

    td:last-of-type ::ng-deep .tag {
      border-bottom-right-radius: 2px;
    }
  }

  chk-tag {
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
  }
}
