.cdk-overlay-backdrop-showing.cl-backdrop-dialog {
  opacity: 0.8;
  background-color: #041F3D;
}

.dialog {
  padding: 20px 0 16px 0;
  border-radius: 2px;
  background-color: #FFFFFF;

  .header {
    box-shadow: inset 0 -1px 0 0 rgba(11, 28, 43, 0.05);
    margin: 0;
    opacity: 0.8;
    color: #0B1C2B;
    font-size: 20px;
    font-weight: bold;
    padding: 0 24px 16px 24px;
    display: flex;
    justify-content: space-between;
  }
}

.close {
  color: #5d6978;
  float: right;
  cursor: pointer;
}

.cross {
  width: 16px;
  height: 16px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px 0 24px;
  border-radius: 0 0 2px 2px;
  background-color: #FFFFFF;
  box-shadow: inset 0 1px 0 0 rgba(11, 28, 43, 0.05);
}

button {
  text-transform: uppercase;
  margin-left: 8px;
}

.btn {
  color: #0B1C2B;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
}

.btn-close {
  color: rgba(11, 28, 43, 0.64);
  background-color: #F3F3F4;

  &:hover {
    background-color: rgba(2, 21, 44, 0.04);
  }
}

.mat-button::ng-deep {
  .mat-button-focus-overlay {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }
}

p {
  padding: 8px 0;
  color: rgba(#02152C, 0.88);
  font-size: 16px;
}

.primary-btn {
  background-color: #0B6CE0;
  color: #FFFFFF;
  box-shadow: none;

  &:hover:not(:disabled) {
    background-color: #147FFF;
  }

  &:disabled {
    color: #FFFFFF;
    background-color: rgba(#0B6CE0, 0.4);
  }
}
