.employer {
  background: #F7F7F8;
  z-index: 2;
  margin: 16px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.employer-header {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.employer-name {
  color: rgba(2, 21, 44, 0.88);
  opacity: 0.48;
}

.employer-bg {
  position: absolute;
  width: 100%;
  top: 50%;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-top: 1px solid #8F97A1;
  opacity: 0.4;
}

::ng-deep .employer-aliases-tooltip {
  white-space: pre;
}

.folder-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
