.tag {
  color: #FFFFFF;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  margin: 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #868f9a;
}

.primary-tag {
  background-color: #0b6ce0;
}
