$mat-radio: "mat-radio";

.mat-radio-button {
  line-height: 1;

  &.mat-radio-disabled {
    .mat-radio-outer-circle {
      border-color: #A1B3CE !important;
    }

    &:not(.mat-radio-checked) {
      .mat-radio-outer-circle {
        background-color: #A1B3CE;
      }
    }
  }

  &.mat-accent.mat-radio-checked {
    .mat-radio-outer-circle {
      border-width: 5px;
      border-color: #0B6CE0;
    }

    .mat-radio-label-content {
      color: #213146;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }
  }

  .mat-radio-container {
    width: 16px;
    height: 16px;
  }

  .mat-radio-outer-circle {
    color: rgba(2, 21, 44, 0.64);
    border-width: 2px;
    width: 16px;
    height: 16px;
  }

  .mat-radio-inner-circle {
    display: none;
  }

  .mat-radio-label-content {
    color: #5D6978;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }
}
