@import "scss/common";

:host {
  padding: 24px 16px 16px;
  display: block;
}

.housing-expenses-details {
  width: 100%;
  display: flex;

  .types {
    width: 28%;
    padding: 0 20px 0 0;
  }
}

.liability-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  border-top: $border;
}
