<div class="detail-component">
  <div class="housing-expenses-details">
    <div class="types" id="present-housing-expenses">
      <app-edit-model [he]="he.presentHousingExpenses" (changeValue)="change($event, he.presentHousingExpenses.type)"
                      [applicantName]="applicant.firstName + ' ' +applicant.lastName"></app-edit-model>
    </div>
    <div class="types" id="propose-housing-expenses">
      <app-edit-model [he]="he.proposeHousingExpenses" (changeValue)="change($event, he.proposeHousingExpenses.type)"
                      [applicantName]="applicant.firstName + ' ' +applicant.lastName"></app-edit-model>
    </div>
  </div>
  <div class="liability-footer">
    <div class="ico">
      <!--<img src="assets/images/svg/comment.svg"/>-->
    </div>
    <button id="he-cancel-btn" mat-button class="app-button btn-bg-gray-text-black" (click)="cancel()">
      Cancel
    </button>
    <button id="he-save-btn" mat-button class="app-button btn-bg-blue-text-white" (click)="save()">
      save {{category}}</button>
  </div>
</div>
