<div class="name">
  <div class="text">
    1003 Application
  </div>
  <div class="label">
    {{applicantName | titlecase}}
  </div>
</div>
<div class="ico" *ngIf="!hideCloseIcon" (click)="closeIconClick.emit()">
  <i class="material-icons">
    clear
  </i>
</div>
