@import 'scss/common';

:host {
  border: $border;
  margin: 14px 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ico {
  cursor: pointer;
  display: flex;
  align-items: center;

  i {
    color: #868F9A;
    font-size: 20px;
  }
}

.name {
  display: flex;
}

.label {
  background-color: #868F9A;
  color: white;
  margin: 0 10px;
  font-size: 10px;
  padding: 0 3px 2px;
  height: 17px;
  border-radius: 3px;
}
