

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 140px;
  margin-bottom: 8px;

  img {
    display: block;
    max-height: 250px;
    max-width: 35vw;
  }

  mat-spinner {
    margin: 0 8px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);

  button {
    max-height: 24px;
    min-width: 24px;
    padding: 0;
    margin-right: 8px;
    line-height: 28px;
    background-color: #F1F2F3;

    &[disabled] {
      opacity: 0.3;
    }
  }
}

.pagination {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: rgba(#02152C, 0.64);
  user-select: none;

  .material-icons {
    position: relative;
    top: 2px;
    left: 1px;
    font-size: 12px;
    color: rgba(#02152C, 0.41);
  }
}

popper-content ::ng-deep .ngxp__container {
  padding: 16px;
  background-color: #FFF;
  border: none;
  border-radius: 1px;
  box-shadow: 2px 2px 10px 0 rgba(8, 9, 10, 0.12), 2px 2px 10px 0 rgba(8, 9, 10, 0.12);
  z-index: 2;
  cursor: default;

  & > .ngxp__arrow {
    left: calc(50% - 9px);
    border-width: 9px;
    border-color: transparent transparent #FFF #FFF;
    box-shadow: -2px 2px 4px 0 rgba(8, 9, 10, 0.05);
  }

  &[x-placement^="top"] {
    margin-bottom: 12px;

    & > .ngxp__arrow {
      bottom: -8px;
      transform: rotate(-45deg);
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 12px;

    & > .ngxp__arrow {
      top: -8px;
      transform: rotate(135deg);
    }
  }
}
iframe {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

