<div [popper]="snippet"
     [popperDisabled]="!snippetName"
     [popperTrigger]="'click'"
     [popperPlacement]="'bottom'"
     (popperOnShown)="onShown()"
     (popperOnHidden)="kill()"
     class="value">
    <ng-content></ng-content>
</div>

<popper-content #snippet id="snippet">
    <div class="content">
        <img *ngIf="snippetURL; else loader"
             [src]="snippetURL" [id]="expandedMode ? 'snippet_expanded' : 'snippet_small'"/>
        <ng-template #loader>
            <mat-spinner diameter="25"></mat-spinner>
        </ng-template>
    </div>
    <div class="actions">
        <div class="buttons">
            <button mat-button (click)="toggleMode()">
                <svg-icon
                        [src]="expandedMode ? 'assets/images/svg/collapse.svg' : 'assets/images/svg/expand.svg'"></svg-icon>
            </button>
            <button mat-button (click)="openDocViewer()">
                <svg-icon src="assets/images/svg/document.svg"></svg-icon>
            </button>
        </div>
    </div>
</popper-content>
