<app-housing-expenses *ngIf="!editMode" (editMode)="editMode = $event" [category]="category"></app-housing-expenses>
<app-edit-housing-expenses *ngIf="editMode" [applicant]="applicant" (editMode)="editMode = $event"
                           [category]="category"></app-edit-housing-expenses>
