<div class="dialog" id="other-dialog">
    <div mat-dialog-title class="header">
        <div class="name">Add Other</div>
        <div class="close">
            <i class="material-icons" (click)="close()">close</i>
        </div>
    </div>
    <div mat-dialog-content class="content" id="content">
        <div class="detail-line">
            <div class="name">Type<span class="star red">*</span></div>
            <app-select [value]="type" (valueChange)="type = $event" [keys]="keys" [enumKey]="expense"></app-select>
        </div>
    </div>
    <div mat-dialog-actions>
        <button (click)="close()" class="app-button bg-gray-text-black" id="cancelBtn" mat-button>Cancel</button>
        <button id="saveBtn" class="app-button bg-blue-text-white" mat-button (click)="save()" [disabled]="!canSave()">Done</button>
    </div>
</div>
