@import "scss/common";

.dialog {
  .header {
    width: 400px;
    margin: -4px 0 0 -24px;
    border-bottom: 1px solid rgba(2, 21, 44, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px;

    .name {
      font-size: 20px;
      font-weight: bold;
      opacity: 0.8;
      margin: 0 24px;
      line-height: 24px;
    }

    .close {
      margin: 0 24px;
      cursor: pointer;

      .material-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px !important;
        width: 14px;
        height: 14px;
      }
    }
  }

  .content {
    padding: 24px 24px 40px;

    .name {
      font-size: 14px;
      color: #9FA6AF;
      font-weight: 500;
      padding-bottom: 4px;

      .red {
        color: rgb(231, 38, 66);
      }

      .star {
        margin-left: .2em;
        font-weight: bold;
      }
    }
  }

  .description {
    color: rgba(2, 21, 44, .48);
    font-size: 14px;
    font-weight: 500;
  }

  [mat-dialog-actions] {
    position: relative;
    text-align: right;
    justify-content: flex-end;
    padding: 16px 0;
    min-height: 0;

    button {
      text-transform: uppercase;
      width: 80px;
      height: 32px;
    }

    &:before {
      display: block;
      content: '';
      height: 1px;
      background-color: rgba(2, 21, 44, 0.1);
      width: 400px;
      position: absolute;
      left: 0;
      transform: translateX(-24px);
      top: 0;
    }
  }

  .name-form {
    margin: .5em 0 0 0;

    .mat-form-field-underline {
      display: none;
    }
  }

  .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0;
  }

  .mat-form-field-infix {
    border-top: none;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: .4em;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .close-dialog {
    cursor: pointer;
  }
}

