<div class="applicant">
  <mat-checkbox [(ngModel)]="applicant.included" (change)="onChange($event)">
    <div class="applicant-data">
      {{applicant.firstName | titlecase}}
      {{applicant.lastName | titlecase}}
    </div>
  </mat-checkbox>
  <div class="applicant-story">
    <div class="story clickable" (click)="goToApplicantTab(applicant.id, 'public-records')">
      <div class="name">Public Records</div>
      <div class="value">{{applicant.totalPublicRecords}}</div>
    </div>
    <div class="story clickable" (click)="goToApplicantTab(applicant.id, 'collections')">
      <div class="name">Collections</div>
      <div class="value">{{applicant.totalCollections}}</div>
    </div>
    <div class="story clickable" (click)="goToApplicantTab(applicant.id, 'foreclosure')">
      <div class="name">Foreclosure</div>
      <div class="value">{{applicant.totalForeclosure}}</div>
    </div>
    <div class="story clickable" (click)="goToApplicantTab(applicant.id, 'inquiries')">
      <div class="name">Inquiries</div>
      <div class="value">{{applicant.totalInquiries}}</div>
    </div>
  </div>
</div>

