.applicant{
  padding: 8px 0 4px;
  font-size: 14px;
  &-story{
    font-size: 14px;
    width: 215px;
    margin: 3px 0 7px;
    .story{
      display: flex;
      justify-content: space-between;
      .name{
        color:#ACB1B7;
      }
      .value{
        text-align: left;
        width: 20px;
        font-weight: 500;
      }
      padding: 3px 2px 3px 24px;
      &.clickable{
        &:hover{
          background-color: #EBEDEF;
          cursor: pointer;
        }
      }

    }
  }
}
