.applicant-disabled {
  .applicant-text {
    color: rgba(2, 21, 44, .4);
  }

  .bar {
    background-color: rgba(243, 243, 244, .4);

  }

  .bar-filled {
    opacity: .4;
  }

  .dot {
    &.dark-blue {
      background-color: rgb(165, 178, 207);
    }

    &.light-blue {
      background-color: rgb(152, 216, 232);
    }

    &.brown {
      background-color: rgb(222, 196, 201);
    }
  }
}

.content {
  margin: 0 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.applicant-text {
  display: flex;
  align-items: center;

  color: rgba(2, 21, 44, .88);
  font-size: 12px;
}

.applicant {
  font-weight: 500;
  text-align: left;
  width: 10em;
  line-height: 16px;
}

.applicant-score {
  width: 6em;
  justify-content: flex-end;
  font-weight: bold;
  height: 16px;
  margin-left: 8px;
}

.icon-star {
  display: flex;
  align-items: center;
  color: rgb(243, 180, 87);
  font-size: 16px;
  justify-content: center;
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.bar-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
}


.bar {
  border-radius: 8px;
  background-color: rgb(243, 243, 244);
  height: 12px;
  width: 100%;

}

.bar-filled {
  background-color: rgba(4, 166, 203, 0.24);
  height: 12px;
  position: absolute;
  left: 0;
  right: 100%;
  border-radius: 8px;
  animation: drive-bar 2s;

  &.dark-blue {
    background-color: rgba(38, 71, 141, 0.24);
  }

  &.light-blue {
    background-color: rgba(4, 166, 203, 0.24);
  }

  &.brown {
    background-color: rgba(132, 27, 42, 0.24);
  }
}

@keyframes drive-bar {
  0% {
    right: 100%;
  }
}

@keyframes drive-dot {
  0% {
    left: 0;
  }
}

app-applicant-scores-result {
  position: absolute;
  top: 0;
  animation: drive-dot 2s;
}
