<div class="applicant-scores" [ngClass]="applicant.isIncluded ? '' : 'applicant-disabled'">
  <div class="content">
    <div class="applicant applicant-text">{{applicant.firstName | titlecase}} {{applicant.lastName | felonize}}</div>
    <div class="bar-container">
      <div class="bar"></div>
      <div *ngIf="score">
        <div class="bar-filled {{assignColor(applicant.selectedProvider)}}"
             [style.right.%]="calculateBarWidth(score.value)"></div>
        <app-applicant-scores-result [style.left.%]="calculateProgress(score.value)" [scores]="applicant.scores"
                                     [color]="score.color"></app-applicant-scores-result>
      </div>
    </div>
    <div class="applicant-score applicant-text">
      <mat-icon *ngIf="applicant.isQualified" class="icon-star">star</mat-icon>
      {{score && score.value ? score.value : 'None'}}
    </div>
  </div>
</div>
