<div class="progress-bar">
  <div class="progress-bar-element {{score.color}} {{score.isQualified ? 'value-qualified' : ''}}" [style.height.%]="barHeight">
    <div class="progress-bar-value">{{score.value}}</div>
    <div class="progress-bar-fill"></div>
  </div>
</div>
