.progress-bar {
  height: 150px;
  display: flex;
  align-items: flex-end;

  &-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bar-fill 2s;
    justify-content: flex-end;
  }

  &-fill {
    &::before {
      position: absolute;
      display: block;
      content: '';
      background-color: black;
      width: 12px;
      height: 5px;
      border-radius: 25px;
      left: -50%;
      transform: translateX(-7%);
    }

    position: relative;
    background-color: #F3F3F4;
    width: 5px;
    height: 100%;
    border-radius: 25px;
  }

  &-value {
    opacity: 0.64;
    color: #0B1C2B;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 0.3em 0.6em;
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    border-radius: 20px;
  }

  @mixin generate-bars-color($textColor, $barColor) {
    &.value-qualified {
      .progress-bar-value {
        background-color: $textColor;
      }
      .progress-bar-fill {
        background-color: $barColor;
      }
    }
    .progress-bar-value {
      color: $barColor;
    }
    .progress-bar-fill {
      &::before {
        background-color: $barColor;
      }
    }
  }

  .dark-blue {
    @include generate-bars-color(rgb(238, 243, 255), rgb(38, 71, 141));
  }
  .light-blue {
    @include generate-bars-color(rgb(226, 250, 255), rgb(4, 166, 203));
  }
  .brown {
    @include generate-bars-color(rgb(255, 243, 238), rgb(132, 27, 42));
  }
}

@keyframes bar-fill {
  0% {
    height: 0;
  }

}
