<div class="public-record-component">
    <div class="section">
        <div class="details">
            <div class="header">Details</div>
            <div class="container">
                <div class="detail-line">
                    <div class="name">Court Name</div>
                    <div class="value">
                        <app-input [value]="editedPublicRecord.courtName"
                                   (changeValue)="editedPublicRecord.courtName = $event"></app-input>
                    </div>
                </div>
                <div class="detail-line">
                    <div class="name">Docket #</div>
                    <div class="value">
                        <app-input [value]="editedPublicRecord.docketNumber"
                                   (changeValue)="editedPublicRecord.docketNumber = $event"></app-input>
                    </div>
                </div>
                <div class="detail-line">
                    <div class="name">Status</div>
                    <div class="value">
                        <app-select [value]="editedPublicRecord.dispositionType" [keys]="keys"
                                    [enumKey]="dispositionType"
                                    (valueChange)="editedPublicRecord.dispositionType = $event"></app-select>
                    </div>
                </div>
                <div class="detail-line">
                    <div class="name">Date Filed</div>
                    <div class="value">
                        <app-date-picker [date]="editedPublicRecord.dateFiled"
                                         (newDate)="editedPublicRecord.dateFiled = $event.date"></app-date-picker>
                    </div>
                </div>
                <div class="detail-line">
                    <div class="name">Date Reported</div>
                    <div class="value">
                        <app-date-picker [date]="editedPublicRecord.dateReported"
                                         (newDate)="editedPublicRecord.dateReported = $event.date"></app-date-picker>
                    </div>
                </div>
                <div class="detail-line">
                    <div class="name">Date Satisfied</div>
                    <div class="value">
                        <app-date-picker [date]="editedPublicRecord.dateSatisfied"
                                         (newDate)="editedPublicRecord.dateSatisfied = $event.date"></app-date-picker>
                    </div>
                </div>
                <div class="detail-line">
                    <div class="name">Amount</div>
                    <div class="value">
                        <app-input [prefix]="true" [mask]="mask" [value]="editedPublicRecord.legalObligationAmount"
                                   (changeValue)="editedPublicRecord.legalObligationAmount = $event"></app-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="comments">
        <!--<img src="assets/images/svg/comment.svg"/>-->
    </div>
    <div class="footer-buttons">
        <button id="cancel-public-record-{{publicRecord.id}}-btn" class="app-button btn-bg-gray-text-black"
                (click)="cancel()"
                mat-button>Cancel
        </button>
        <button id="save-public-record-{{publicRecord.id}}-btn" class="app-button btn-bg-blue-text-white"
                (click)="save()"
                mat-button>
            Save Public Record
        </button>
    </div>
</div>
