@import "scss/common";

.red {
  color: rgb(231, 38, 66);
}

.star {
  margin-left: .2em;
  font-weight: bold;
}

.name-form {
  width: 100%;

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0;
  }

  .mat-form-field-infix {
    border-top: none;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: .4em;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .mat-focused{
    .mat-form-field-wrapper{
      border: 1px solid blue;
    }
  }

}

.section {
  width: 33%;
  padding: 0;

  .header {
    color: $liabilities-details-header-color;
    font-size: $font-size;
    opacity: $liabilities-details-header-opacity;
    text-transform: uppercase;
    border-bottom: $border;
    padding: $padding-small;
  }

  .details {
    border: $border;
  }
}

.container {
  padding: $padding-small;

  .detail-line {
    display: flex;
    margin-bottom: $padding-small;

    .name {
      color: $liabilities-details-header-color;
      opacity: $liabilities-details-header-opacity;
      font-weight: 500;
      width: 50%;
    }

    .value {
      width: 50%;
      color: $liabilities-details-header-color;
      opacity: .88;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 16px 16px 16px;
  border-top: 1px solid rgb(243, 243, 244);
  padding-top: 16px;
}

.comments {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.edit-btn[disabled] {
  opacity: .5;
}

.public-record-component {
  padding: $padding-small;
}
